<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
  
      <div class="card">
        <div class="card-header">
          <div class="tb__header">
            <h3 class="card-title">ตารางนัดหมายแพทย์</h3>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">

          <!-- Doctor Selection -->
          <div class="card mb-5">
            <div class="card-body">
              <form style="margin: 0px; padding: 0px;">
                <div class="form-group row">
                  <label for="doctorSelected" class="col-sm-1 col-form-label text-right">แผนก :</label>
                  <div class="col-sm-6">
                    <select id="doctorSelected" name="doctorSelected" class="form-control">
                      <option value="">-- เลือกแผนก --</option>
                      <option *ngFor="let department of departments" value="department.id">
                        {{ department.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="doctorSelected" class="col-sm-1 col-form-label text-right">แพทย์ :</label>
                  <div class="col-sm-6">
                    <select id="doctorSelected" name="doctorSelected" class="form-control">
                      <option value="">-- เลือกแพทย์ --</option>
                      <option *ngFor="let doctor of doctors" value="doctor.id">
                        <!-- {{ doctor.doctorName }} -->
                      </option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Doctor Selection -->

          <app-calendar-selection [events]="events"></app-calendar-selection>

          <br><br>

          <app-add-event
            [events]="events"
            *ngIf="currentUser?.permissions && currentUser?.permissions?.role?.id === 1"
          ></app-add-event>

        </div><!-- /.card-body -->
      </div><!-- /.card -->

    </div><!-- /.col-md-12 -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->
