<div class="register-box">
  <div class="register-logo">
    <a routerLink="/"><b>Appointment</b>Online</a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
      
      <p class="login-box-msg">
        <span style="font-weight: bold;">ลงทะเบียน</span> ผู้ใช้ใหม่
      </p>

      <form method="post">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Full name">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Retype password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <div class="icheck-primary">
              <input type="checkbox" id="agreeTerms" name="terms" value="agree">
              <label for="agreeTerms">
                I agree to the <a href="#">terms</a>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-5">
            <!-- <button type="submit" class="btn btn-primary btn-block">ลงทะเบียน</button> -->
            <a routerLink="/" class="btn btn-primary btn-block">ลงทะเบียน</a>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i>
          Sign up using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i>
          Sign up using Google+
        </a>
      </div> -->

      <a routerLink="/signin" class="text-center">มีบัญชีผู้ใช้ในระบบแล้ว</a>
    </div><!-- /.form-box -->
  </div><!-- /.card -->
</div><!-- /.register-box -->
