<table class="table table-bordered">
  <thead>                  
    <tr>
      <th style="width: 3%;" class="text-center">No</th>
      <th style="width: 9%" class="text-center" *ngIf="appointType != 1">เลขที่ Refer</th>
      <th style="width: 9%" class="text-center" *ngIf="appointType == 1">รหัสสถานบริการ</th>
      <th class="text-center">ชื่อ-สกุล</th>
      <th style="width: 10%" class="text-center">เลข 13 หลัก</th>
      <th style="width: 12%" class="text-center">สิทธิ์</th>
      <th style="width: 12%" class="text-center" *ngIf="appointType !== 1">แพทย์</th>
      <th style="width: 15%" class="text-center">คลินิก</th>
      <th style="width: 8%" class="text-center">วันที่นัด</th>
      <th style="width: 8%" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let app of data | slice: (page - 1) * pageSize : page * pageSize; let i = index">
      <td class="text-center">{{ ((page - 1) * pageSize) + (i+1) }}</td>
      <td class="text-center" *ngIf="appointType != 1">{{ app.refer_no }}</td>
      <td class="text-center" *ngIf="appointType == 1">{{ app.hospcode }}</td>
      <td>
        <div class="user-block">
          <img
            *ngIf="app.patient.sex == 1"
            class="img-circle img-bordered-sm"
            src="assets/img/avatar-m1-128x128.jpg"
            alt="user image"
          />
          <img
            *ngIf="app.patient.sex == 2"
            class="img-circle img-bordered-sm"
            src="assets/img/avatar-w1-128x128.jpg"
            alt="user image"
          />
          <span class="username">
            <a href="#">{{ app.patient.pname + app.patient.fname + ' ' + app.patient.lname }}</a>
          </span>
          <span class="description">โทร. {{ app.patient.tel1 }}</span>
        </div>
        <!-- /.user-block -->
      </td>
      <td class="text-center">
        {{ app.patient.cid }}
      </td>
      <td class="text-center">{{ app.right?.right_name }}</td>
      <td class="text-center" *ngIf="appointType !== 1">
        {{ app.doctor.title }} {{ app.doctor.employee.fname + ' ' + app.doctor.employee.lname }} 
      </td>
      <td class="text-center">
        {{ app.clinic?.clinic_name }}
        <span style="display: block;" class="text-muted">Dx. {{ app.diag?.name }}</span>
      </td>
      <td class="text-center">
        {{ app.appoint_date | thdate }}
        <p>
          <span *ngIf="app.status == 0" class="badge badge-primary">
            <i class="fas fa-clock"></i>
          </span>
          <span *ngIf="app.status == 1" class="badge badge-secondary">
            <i class="far fa-calendar-plus"></i>
          </span>
          <span *ngIf="app.status == 2" class="badge badge-success">
            <i class="fas fa-stethoscope"></i>
          </span>
          <span *ngIf="app.status == 3" class="badge badge-danger">
            <i class="fas fa-ban"></i>
          </span>
        </p>
      </td>
      <td class="text-center">
        <a routerLink="/appointments/{{ app.id }}/detail" class="btn btn-info btn-xs mr-1">
          <i class="fas fa-search"></i>
        </a>
        <a
          *ngIf="canModify(app)"
          routerLink="/appointments/{{ appointType }}/{{ app.id }}/edit"
          class="btn btn-warning btn-xs mr-1"
        >
          <i class="fas fa-pencil-alt"></i>
        </a>
        <a
          *ngIf="canModify(app)"
          href="#"
          class="btn btn-danger btn-xs"
          (click)="onDelete($event, app.id)"
        >
        <i class="fas fa-trash-alt" style="margin: auto 2px;"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
