<div>
    <form class="form-inline mb-2">
        <div class="form-group">
            <label for="keyword">คำค้นหา :</label>
            <input
                type="text"
                class="form-control ml-2"
                [(ngModel)]="filterInputs.keyword"
                [ngModelOptions]="{standalone: true}"
            />
        </div>
        <div class="form-group ml-2">
            <label for="condition">ค้นหาโดย :</label>
            <select
                class="form-control mx-2"
                [(ngModel)]="filterInputs.condition"
                [ngModelOptions]="{standalone: true}"
            >
            <option value="1">รหัสหน่วยบริการ</option>
            <option value="2">ชื่อหน่วยบริการ</option>
            </select>
        </div>

        <button class="btn btn-primary ml-1" (click)="onFilter()">ค้นหา</button>
        <button class="btn btn-danger ml-1" (click)="onClearFilter()">Clear</button>

        <span *ngIf="filterInputs.condition === '3'" class="text-danger ml-2">
            *พิมพ์ชื่ออย่างเดียว หรือ พิมพ์ชื่อเว้นวรรค 1 ครั้ง และตามด้วยนามสกุล
        </span>
        <span *ngIf="filterInputs.condition !== '3'" class="text-danger ml-2">
            *พิมพ์คำค้นบางส่วน หรือ ทั้งหมด
        </span>
    </form>

    <table class="table table-bordered">
    <thead>                  
        <tr>
        <th style="width: 3%;" class="text-center">#</th>
        <th style="width: 9%" class="text-center">รหัสหน่วยบริการ</th>
        <th class="text-center">ชื่อหน่วยบริการ</th>
        <th style="width: 10%" class="text-center">ประเภท</th>
        <th style="width: 6%" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let hosp of filteredHospitals | slice: (page - 1) * pageSize : page * pageSize; let i = index">
        <td class="text-center">{{ ((page - 1) * pageSize) + (i + 1) }}</td>
        <td class="text-center">{{ hosp.hospcode }}</td>
        <td>{{ hosp.name }}</td>
        <td class="text-center">{{ getHospitalType(hosp.hospital_type_id) }}</td>
        <td class="text-center">
            <a href="#" class="btn btn-info btn-sm mr-1" (click)="onSelected($event, hosp)">
                เลือก
            </a>
        </td>
        </tr>
    </tbody>
    </table>

    <ngb-pagination [collectionSize]="filteredHospitals.length" [(page)]="page" [pageSize]="pageSize">
        <ng-template ngbPaginationPrevious>Prev</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
    </ngb-pagination>
</div>
