<h3>
  เพิ่มรายการนัดหมาย
  <button class="btn btn-primary float-right" (click)="addEvent()">
    เพิ่ม
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: center;">หัวข้อ</th>
        <!-- <th style="width: 10%; text-align: center;">Primary color</th>
        <th style="width: 10%; text-align: center;">Secondary color</th> -->
        <th style="width: 20%; text-align: center;">เริ่ม</th>
        <th style="width: 20%; text-align: center;">สิ้นสุด</th>
        <th style="width: 5%; text-align: center;">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <!-- <td style="text-align: center;">
          <input
            type="color"
            [(ngModel)]="event.color.primary"
            (change)="refresh.next()"
          />
        </td>
        <td style="text-align: center;">
          <input
            type="color"
            [(ngModel)]="event.color.secondary"
            (change)="refresh.next()"
          />
        </td> -->
        <td style="text-align: center;">
          <!-- mwlFlatpickr -->
          <input
            class="form-control"
            type="text"            
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td style="text-align: center;">
          <!-- mwlFlatpickr -->
          <input
            class="form-control"
            type="text"            
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td style="text-align: center;">
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            <i class="far fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
