<div class="card card-outline" [ngClass]="setCardColor(doctor.employee.position_class.id)">
  <div class="card-body box-profile">
    <div class="text-center">
      <img
        class="profile-user-img img-fluid img-circle"
        src="{{ doctor.employee.sex === '1' ? 'assets/img/user1-128x128.jpg' : 'assets/img/user4-128x128.jpg' }}"
        alt="User profile picture"
      />
    </div>

    <h4 class="profile-username text-center">
      {{ doctor.title + doctor.employee.fname + ' ' + doctor.employee.lname }}
    </h4>
    <p class="text-center m-0">
      {{ doctor.employee.position.position_name + doctor.employee.position_class.name }}
    </p>
    <p class="text-center m-0">
      <span>สาขา</span> {{ doctor.specialists.length > 0 ? doctor.specialists[0].specialist.specialist_name : '-' }}
    </p>

    <p class="text-muted text-center">{{ doctor.position }}</p>

    <!-- <ul class="list-group list-group-unbordered mb-3">
      <li class="list-group-item">
        <b>Patients</b> <a class="float-right">1,322</a>
      </li>
      <li class="list-group-item">
        <b>Appointments</b> <a class="float-right">543</a>
      </li>
      <li class="list-group-item">
        <b>Empty Dates</b> <a class="float-right">13,287</a>
      </li>
    </ul> -->

    <div class="text-center" *ngIf="currentUser.permissions[0].role.id === 1">
      <a routerLink="/doctors/{{ doctor.emp_id }}/detail" class="btn btn-primary btn-sm mr-1">
        <i class="fas fa-search"></i>
      </a>
      <a routerLink="/doctors/{{ doctor.emp_id }}/edit" class="btn btn-warning btn-sm mr-1">
        <i class="fas fa-pencil-alt"></i>
      </a>
      <a href="#" (click)="onDelete($event, doctor.emp_id)" class="btn btn-danger btn-sm mr-1">
        <i class="fas fa-trash-alt" style="margin: auto 2px;"></i>
      </a>
    </div>
  </div><!-- /.card-body -->
</div><!-- /.card -->
