<div>
    <select
        class="form-control"
        [ngClass]="{ 'is-invalid': isInvalid }"
        [(ngModel)]="value"
        (change)="onItemSelected($event)"
    >
        <option value="">-- เลือกตำบล --</option>
        <option *ngFor="let item of items" value="{{ item.tam_id }}">
            {{ item.tambon }}
        </option>
    </select>
    <div *ngIf="isInvalid" class="invalid-feedback">
        <div *ngIf="errors.required">กรุณาเลือกตำบล</div>
    </div>
</div>