<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">แก้ไขผู้ใช้งาน</h3>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div style="display: flex; justify-content: center; padding: 10px;">
                        <div class="user-header">
                            <img
                            src="assets/img/user2-160x160.jpg"
                            class="img-circle elevation-2"
                            alt="User Image"
                            />
                        </div>
                    </div>

                    <div style="padding: 20px 0 0 80px;">
                        <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-horizontal">
                            <!-- <div class="form-group row">
                                <label class="col-md-2">รูป</label>
                                <div class="col-md-8">
                                    <input type="file" formControlName="avatar" (change)="onFileChange($event)">
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label class="col-md-2">Username</label>
                                <div class="col-md-8">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Username"
                                        formControlName="username"
                                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                                        [attr.disabled]="''"
                                    />
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">กรุณากรอก Username</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <label class="col-md-2">Password</label>
                                <div class="col-md-8">
                                    <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Password"
                                        formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                    />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">กรุณากรอก Password</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">ยืนยัน Password</label>
                                <div class="col-md-8">
                                    <input
                                        type="password"
                                        class="form-control"
                                        placeholder="ยืนยัน Password"
                                        formControlName="confirm_password"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }"
                                    />
                                    <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirm_password.errors.required">กรุณากรอกยืนยัน Password</div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label class="col-md-2">ชื่อ</label>
                                <div class="col-md-8">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="ชื่อ"
                                        formControlName="fullname"
                                        [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"
                                    />
                                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                                        <div *ngIf="f.fullname.errors.required">กรุณากรอกชื่อ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">อีเมล</label>
                                <div class="col-md-8">
                                    <input
                                        type="email"
                                        class="form-control"
                                        placeholder="อีเมล"
                                        formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                    />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">กรุณากรอกชื่อ</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">สังกัด</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            id="hosp_desc"
                                            class="form-control"
                                            formControlName="hosp_desc"
                                            placeholder="สังกัด"
                                            [ngClass]="{ 'is-invalid': submitted && f.hospcode.errors }"
                                            [attr.disabled]="''"
                                        />
                                        <input
                                            type="hidden"
                                            id="hospcode"
                                            class="form-control"
                                            formControlName="hospcode"
                                        />
                                        <div class="input-group-append">
                                            <button
                                                type="button"
                                                class="btn btn-primary"
                                                (click)="triggerModal(modalHospcode)"
                                            >
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                        <div *ngIf="submitted && f.hospcode.errors" class="invalid-feedback">
                                            <div *ngIf="f.hospcode.errors.required">กรุณาระบุสังกัด</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">ระดับผู้ใช้</label>
                                <div class="col-md-8">
                                    <select
                                        class="form-control"
                                        formControlName="position"
                                        [ngClass]="{ 'is-invalid': submitted && f.position.errors }"
                                    >
                                        <option value="">-- เลือกระดับผู้ใช้ --</option>
                                        <option *ngFor="let role of roles" value="{{ role.id }}">
                                            {{ role.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
                                        <div *ngIf="f.position.errors.required">กรุณาเลือกระดับผู้ใช้</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8 offset-sm-2">
                                    <button type="submit" class="btn btn-primary mr-2">
                                        แก้ไข
                                    </button>
                                    <!-- <button type="button" class="btn bg-navy mr-2">
                                        เปลี่ยนรหัสผ่าน
                                    </button> -->
                                    <button type="button" class="btn btn-danger">
                                        ยกเลิก 
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div><!-- /.card-body -->
            </div><!-- /.card -->

        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container -->

<ng-template #modalHospcode let-modal>
    <div class="modal-header">
        <h4 class="modal-title">เลือกหน่วยงานสังกัด</h4>
    </div>
    <div class="modal-body">
        <app-hospcode-list (handleSelected)="onHospcodeSelected($event, modal)"></app-hospcode-list>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-danger"
            (click)="modal.close('Save click')"
        >
            Close
        </button>
    </div>
</ng-template>