<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">แก้ไขสถานบริการ</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="hospitalForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="">รหัสสถานบริการ</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.hospcode.errors }"
                                    formControlName="hospcode"
                                />
                                <div *ngIf="submitted && f.hospcode.errors" class="invalid-feedback">
                                  <div *ngIf="f.hospcode.errors.required">กรุณาระบุรหัสสถานบริการ</div>
                                </div>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="">ชื่อสถานบริการ</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                    formControlName="name"
                                />
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.name.errors.required">กรุณาระบุชื่อสถานบริการ</div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="">โทรศัพท์</label>
                                <input type="text" class="form-control" formControlName="hospital_phone" />
                            </div>
                            <div class="form-group col-md-3">
                                <label for="">แฟกซ์</label>
                                <input type="text" class="form-control" formControlName="hospital_fax" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">ที่อยู่</label>
                                <input type="text" class="form-control" formControlName="addrpart" />
                            </div>
                            <div class="form-group col-md-2">
                                <label for="">หมู่ที่</label>
                                <input type="text" class="form-control" formControlName="moopart" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">จังหวัด</label>
                                <select
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.chwpart.errors }"
                                    formControlName="chwpart"
                                    (change)="onChangwatChange($event)"
                                >
                                    <option value="">-- เลือกจังหวัด --</option>
                                    <option *ngFor="let chw of changwats" value="{{ chw.chw_id }}">
                                        {{ chw.changwat }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.chwpart.errors" class="invalid-feedback">
                                    <div *ngIf="f.chwpart.errors.required">กรุณาเลือกจังหวัด</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">อำเภอ</label>
                                <app-amphur-select
                                    formControlName="amppart"
                                    [items]="filteredAmphurs"
                                    [changwat]="f.chwpart.value"
                                    [defaultValue]="f.amppart.value"
                                    [isInvalid]="submitted && f.amppart.errors != null"
                                    [errors]="f.amppart.errors"
                                    (change)="onAmphurChange($event, f.chwpart.value)"
                                ></app-amphur-select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="">ตำบล</label>
                                <app-tambon-select
                                    formControlName="tmbpart"
                                    [items]="filteredTambons"
                                    [changwat]="f.chwpart.value"
                                    [amphur]="f.amppart.value"
                                    [defaultValue]="f.tmbpart.value"
                                    [isInvalid]="submitted && f.tmbpart.errors != null"
                                    [errors]="f.tmbpart.errors"
                                ></app-tambon-select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">ประเภทสถานบริการ</label>
                                <select class="form-control" formControlName="hospital_type_id">
                                    <option value="">-- เลือกประเภท --</option>
                                    <option *ngFor="let type of hosp_types" value="{{ type.id }}">
                                        {{ type.name }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.hospital_type_id.errors" class="invalid-feedback">
                                    <div *ngIf="f.hospital_type_id.errors.required">กรุณาเลือกประเภท</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">เขตสุขภาพ</label>
                                <select class="form-control" formControlName="area_code">
                                    <option value="">-- เลือกเขตสุขภาพ --</option>
                                    <option *ngFor="let area of areas" value="{{ area.id }}">
                                        {{ area.name }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.area_code.errors" class="invalid-feedback">
                                    <div *ngIf="f.area_code.errors.required">กรุณาเลือกเขตสุขภาพ</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-warning mr-2">
                                    แก้ไข
                                </button>
                                <button type="button" class="btn btn-danger">
                                    ยกเลิก 
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>