<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">แก้ไขรายการนัดหมาย</h3>
        </div><!-- /.card-header -->

        <div class="card-body">

          <div id="stepper" class="bs-stepper">
            <div class="bs-stepper-header">
              <div class="step" data-target="#test-l-1">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label">ข้อมูล Refer</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#test-l-2">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">2</span>
                  <span class="bs-stepper-label">ข้อมูลผู้ป่วย</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#test-l-3">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">3</span>
                  <span class="bs-stepper-label">ข้อมูลการนัดหมาย</span>
                </button>
              </div>
              <div class="line"></div>
              <div class="step" data-target="#test-l-4">
                <button class="step-trigger">
                  <span class="bs-stepper-circle">4</span>
                  <span class="bs-stepper-label">ครบถ้วน</span>
                </button>
              </div>
            </div>
            <div class="bs-stepper-content">
              <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
                <div id="test-l-1" class="content">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label>คลินิก (Clinic)</label>
                      <select
                        class="form-control"
                        formControlName="clinic"
                        [ngClass]="{ 'is-invalid': submitted && f.clinic.errors }"
                      >
                        <option value="">-- เลือกคลินิก --</option>
                        <option *ngFor="let clinic of clinics" value="{{ clinic.id }}">
                          {{ clinic.clinic_name }}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.clinic.errors" class="invalid-feedback">
                        <div *ngIf="f.clinic.errors.required">กรุณาเลือกคลินิก</div>
                      </div>
                    </div>
                    <div class="form-group col-md-12" *ngIf="appointType === 1">
                      <label>การวินิจฉัย (Diagnosis)</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="diag_text"
                        [ngClass]="{ 'is-invalid': submitted && f.diag_text.errors }"
                      />
                      <div *ngIf="submitted && f.diag_text.errors" class="invalid-feedback">
                        <div *ngIf="f.diag_text.errors.required">กรุณาระบุการวินิจฉัย</div>
                      </div>
                    </div>
                    <div class="form-group col-md-12" *ngIf="appointType !== 1">
                      <label>การวินิจฉัย (Diagnosis)</label>
                      <select
                        class="form-control"
                        formControlName="diag_group"
                        [ngClass]="{ 'is-invalid': submitted && f.diag_group.errors }"
                        [attr.disabled]="appointType === 1 ? '' : null"
                      >
                        <option value="">-- เลือกการวินิจฉัย --</option>
                        <option *ngFor="let dg of diagGroups" value="{{ dg.id }}">
                          {{ dg.name }}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.diag_group.errors" class="invalid-feedback">
                        <div *ngIf="f.diag_group.errors.required">กรุณาเลือกการวินิจฉัย</div>
                      </div>
                    </div>
                    <div class="form-group col-md-12" *ngIf="appointType !== 1">
                      <label for="refer_no">เลขที่ Refer (Refer No.)</label>
                      <input
                        type="text"
                        class="form-control"
                        id="refer_no"
                        formControlName="refer_no"
                        placeholder="เลขที่ Refer (Refer No.)"
                        [ngClass]="{ 'is-invalid': submitted && f.refer_no.errors }"
                        [attr.disabled]="appointType === 1 ? '' : null"
                      />
                      <div *ngIf="submitted && f.refer_no.errors" class="invalid-feedback">
                        <div *ngIf="f.refer_no.errors.required">กรุณากรอกเลขที่ Refer</div>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label>เหตุผลการส่งตัว</label>
                      <select
                        class="form-control"
                        formControlName="refer_cause"
                        [ngClass]="{ 'is-invalid': submitted && f.refer_cause.errors }"
                      >
                        <option value="">-- เลือกเหตุผลการส่งตัว --</option>
                        <option *ngFor="let cause of referCauses" value="{{ cause.id }}">
                          {{ cause.name }}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.refer_cause.errors" class="invalid-feedback">
                        <div *ngIf="f.refer_cause.errors.required">กรุณาเลือกเหตุผลการส่งตัว</div>
                      </div>
                    </div>
                    <div class="form-group col-md-12" *ngIf="f.refer_cause.value == 99">
                      <label>ระบุเหตุผลการส่งตัว</label>
                      <textarea
                        class="form-control"
                        formControlName="refer_cause_text"
                        [ngClass]="{ 'is-invalid': submitted && f.refer_cause_text.errors }"
                      ></textarea>
                      <div *ngIf="submitted && f.refer_cause_text.errors" class="invalid-feedback">
                        <div *ngIf="f.refer_cause_text.errors.required">กรุณาระบุเหตุผลการส่งตัว</div>
                      </div>
                    </div>
                  </div>

                  <button (click)="next($event)" class="btn btn-primary float-right">ต่อไป</button>
                </div>
                <div id="test-l-2" class="content">
                  <div class="row">
                    <div class="form-group col-md-4">
                      <label for="cid">เลขประจำตัว 13 หลัก</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          id="cid"
                          formControlName="cid"
                          placeholder="เลขประจำตัว 13 หลัก"
                          [ngClass]="{ 'is-invalid': submitted && f.cid.errors }"
                          (keyup)="onSearchPatientByCid($event, f.cid.value)"
                          [attr.disabled]="''"
                        />
                        <div class="input-group-append">
                          <button
                            type="button"
                            class="btn btn-outline-primary"
                            (click)="onShowPatientModal(modalPatient)"
                          >
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                        <div *ngIf="submitted && f.cid.errors" class="invalid-feedback">
                          <div *ngIf="f.cid.errors.required">กรุณากรอกเลขประจำตัว 13 หลัก</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="patient_hn">HN รพ.มหาราช (ถ้ามี)</label>
                      <input
                        type="text"
                        class="form-control"
                        id="patient_hn"
                        formControlName="patient_hn"
                        [ngClass]="{ 'is-invalid': submitted && f.patient_hn.errors }"
                        placeholder="HN"
                        [attr.disabled]="''"
                      />
                      <div *ngIf="submitted && f.patient_hn.errors" class="invalid-feedback">
                        <div *ngIf="f.patient_hn.errors.required">กรุณากรอกเลข HN</div>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="Passport">Passport</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="passport"
                        placeholder="Passport"
                        [attr.disabled]="''"
                      />
                    </div>
                    <div class="form-group col-md-2">
                      <label>คำนำหน้า</label>
                      <select
                        class="form-control"
                        formControlName="pname"
                        [ngClass]="{ 'is-invalid': submitted && f.pname.errors }"
                        [attr.disabled]="''"
                      >
                        <option value="">-- เลือกคำนำหน้า --</option>
                        <option value="ด.ญ.">ด.ญ.</option>
                        <option value="ด.ช.">ด.ช.</option>
                        <option value="นาย">นาย</option>
                        <option value="นาง">นาง</option>
                        <option value="นางสาว">นางสาว</option>
                      </select>
                      <div *ngIf="submitted && f.pname.errors" class="invalid-feedback">
                        <div *ngIf="f.pname.errors.required">กรุณากรอกเลข HN</div>
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <label>ชื่อ</label>
                      <input
                        class="form-control"
                        formControlName="fname"
                        placeholder="ชื่อผู้ป่วย"
                        [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"
                        [attr.disabled]="''"
                      />
                      <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                        <div *ngIf="f.fname.errors.required">กรุณากรอกชื่อผู้ป่วย</div>
                      </div>
                    </div>
                    <div class="form-group col-md-5">
                      <label>นามสกุล</label>
                      <input
                        class="form-control"
                        formControlName="lname"
                        placeholder="นามสกุลผู้ป่วย"
                        [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"
                        [attr.disabled]="''"
                      />
                      <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                        <div *ngIf="f.lname.errors.required">กรุณากรอกนามสกุลผู้ป่วย</div>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label>เพศ</label>
                      <div class="form-control__radio">
                        <div class="mr-5">
                          <input type="radio" name="sex" formControlName="sex" value="1" [attr.disabled]="''" /> ชาย
                        </div>
                        <div>
                          <input type="radio" name="sex" formControlName="sex" value="2" [attr.disabled]="''" /> หญิง
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label>วันเกิด</label>
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="ว/ด/ป"
                          formControlName="birthdate"
                          [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }"
                          [attr.disabled]="''"
                        />
                        <div class="input-group-append">
                          <button
                              type="button"
                              class="btn btn-outline-secondary"
                              (click)="birthDate.toggle()"
                              [attr.disabled]="''"
                          >
                              <i class="far fa-calendar-alt"></i>
                          </button>
                        </div>
                        <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                          <div *ngIf="f.birthdate.errors.required">กรุณาระบุวันเกิด</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label>โทรศัพท์ #1</label>
                      <input
                        class="form-control"
                        formControlName="tel1"
                        placeholder="โทรศัพท์ #1"
                        [ngClass]="{ 'is-invalid': submitted && f.tel1.errors }"
                        [attr.disabled]="''"
                      />
                      <div *ngIf="submitted && f.tel1.errors" class="invalid-feedback">
                        <div *ngIf="f.tel1.errors.required">กรุณากรอกเบอร์โทรศัพท์ #1</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>โทรศัพท์ #2 (ถ้ามี)</label>
                      <input class="form-control" formControlName="tel2" placeholder="โทรศัพท์ #2" [attr.disabled]="''" />
                    </div>
                    <div class="form-group col-md-6">
                      <label>สิทธิการรักษา</label>
                      <select
                        class="form-control"
                        formControlName="patient_right"
                        [ngClass]="{ 'is-invalid': submitted && f.patient_right.errors }"
                        [attr.disabled]="''"
                      >
                        <option value="">-- เลือกสิทธิการรักษา --</option>
                        <option *ngFor="let right of rights" value="{{ right.id }}">
                          {{ right.right_name }}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.patient_right.errors" class="invalid-feedback">
                        <div *ngIf="f.patient_right.errors.required">กรุณาเลือกสิทธิการรักษา</div>
                      </div>
                    </div>                    
                  </div>

                  <button (click)="next($event)" class="btn btn-primary float-right">ต่อไป</button>
                </div>
                <div id="test-l-3" class="content">
                  <div class="row">
                    <div class="form-group col-md-6" *ngIf="appointType !== 1">
                      <label for="doctor">แพทย์</label>
                      <input
                        type="text"
                        id="doctor"
                        class="form-control"
                        formControlName="doctor"
                        placeholder="แพทย์"
                      />
                    </div>
                    <div class="form-group col-md-6" [ngClass]="{ 'col-md-6': appointType !== 1, 'col-md-12': appointType === 1 }">
                      <label for="room">ห้องตรวจ</label>
                      <select
                        class="form-control"
                        formControlName="room"
                        [ngClass]="{ 'is-invalid': submitted && f.room.errors }"
                        [attr.disabled]="''"
                      >
                        <option value="">-- เลือกห้องตรวจ --</option>
                        <option *ngFor="let room of rooms" value="{{ room.id}}">
                          {{ room.room_name }}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.room.errors" class="invalid-feedback">
                        <div *ngIf="f.room.errors.required">กรุณาเลือกห้องตรวจ</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>วันที่นัด</label>
                      <input
                        class="form-control"
                        formControlName="appoint_date"
                        (click)="triggerModal(modalAppointment)"
                        [ngClass]="{ 'is-invalid': submitted && f.appoint_date.errors }"
                      />
                      <div *ngIf="submitted && f.appoint_date.errors" class="invalid-feedback">
                        <div *ngIf="f.appoint_date.errors.required">กรุณาเลือกวันที่นัด</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label>ช่วงเวลานัด</label>
                      <select
                        class="form-control"
                        formControlName="appoint_time"
                        [ngClass]="{ 'is-invalid': submitted && f.appoint_time.errors }"
                        [attr.disabled]="appointType === 1 ? '' : null"
                      >
                        <option value="">-- เลือกช่วงเวลา --</option>
                        <option value="1">08.00 - 12.00 น.</option>
                        <option value="2">13.00 - 16.00 น.</option>
                      </select>
                      <div *ngIf="submitted && f.appoint_time.errors" class="invalid-feedback">
                        <div *ngIf="f.appoint_time.errors.required">กรุณาระบุช่วงเวลานัด</div>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label>บันทึกอาการ</label>
                      <textarea
                        rows="4"
                        formControlName="symptom"
                        class="form-control"
                      ></textarea>
                    </div>
                    <div class="form-group col-md-6" *ngIf="appointType === 1">
                      <label>ผู้ลงเวลานัด (ชื่อ-สกุล)</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="appointer"
                        [ngClass]="{ 'is-invalid': submitted && f.appointer.errors }"
                      />
                      <div *ngIf="submitted && f.appointer.errors" class="invalid-feedback">
                        <div *ngIf="f.appointer.errors.required">กรุณาระบุผู้ลงเวลานัด</div>
                      </div>
                    </div>
                    <div class="form-group col-md-6" *ngIf="appointType === 1">
                      <label>ตำแหน่งผู้ลงเวลานัด</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="appointer_position"
                        [ngClass]="{ 'is-invalid': submitted && f.appointer_position.errors }"
                      />
                      <div *ngIf="submitted && f.appointer_position.errors" class="invalid-feedback">
                        <div *ngIf="f.appointer_position.errors.required">กรุณาระบุตำแหน่งผู้ลงเวลานัด</div>
                      </div>
                    </div>
                  </div>

                  <button (click)="next($event)" class="btn btn-primary float-right">ต่อไป</button>
                </div>
                <div id="test-l-4" class="content text-center">
                  <button type="submit" class="btn btn-primary mt-5">บันทึก</button>
                </div>
              </form>
            </div>            
          </div><!-- /.bs-stepper -->

        </div><!-- /.card-body -->
      </div><!-- /.card -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->

<ng-template #modalAppointment let-modal>
  <div class="modal-header">
    <h4 class="modal-title">เลือกวันนัดหมาย</h4>
  </div>
  <div class="modal-body">
    <app-calendar-selection (onSelectedDate)="onAppointed($event, modal)"></app-calendar-selection>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #modalPatient let-modal>
  <div class="modal-header">
    <h4 class="modal-title">เลือกผู้ป่วย</h4>
  </div>
  <div class="modal-body">

    <app-patient-list (handleSelected)="onPatientSelected($event, modal)"></app-patient-list>

  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
