<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <img
              class="profile-user-img img-fluid img-circle"
              src="assets/img/user4-128x128.jpg"
              alt="User profile picture"
            />
          </div>

          <h3 class="profile-username text-center">{{ currentUser.username }}</h3>

          <h3 class="profile-username text-center">{{ currentUser.fullname }}</h3>

          <p class="text-muted text-center">{{ currentUser.position }}</p>

          <!-- <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>Followers</b> <a class="float-right">1,322</a>
            </li>
            <li class="list-group-item">
              <b>Following</b> <a class="float-right">543</a>
            </li>
            <li class="list-group-item">
              <b>Friends</b> <a class="float-right">13,287</a>
            </li>
          </ul>

          <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
        </div><!-- /.card-body -->
      </div><!-- /.card -->

      <!-- About Me Box -->
      <!-- <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">About Me</h3>
        </div> -->
        <!-- /.card-header -->
        <!-- <div class="card-body">
          <strong><i class="fas fa-book mr-1"></i> Education</strong>

          <p class="text-muted">
            B.S. in Computer Science from the University of Tennessee at Knoxville
          </p>

          <hr>

          <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

          <p class="text-muted">Malibu, California</p>

          <hr>

          <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

          <p class="text-muted">
            <span class="tag tag-danger">UI Design</span>
            <span class="tag tag-success">Coding</span>
            <span class="tag tag-info">Javascript</span>
            <span class="tag tag-warning">PHP</span>
            <span class="tag tag-primary">Node.js</span>
          </p>

          <hr>

          <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
        </div> -->
        <!-- /.card-body -->
      <!-- </div> -->
      <!-- /.card -->
    </div><!-- /.col -->

    <div class="col-md-9">
      <form class="form-horizontal" [formGroup]="profileForm">
        <div class="card card-secondary">

          <div class="card-header p-2">
            <h3 class="card-title">Settings</h3>
          </div><!-- /.card-header -->

          <div class="card-body">
            <div class="form-group row">
              <label for="fullname" class="col-sm-2 col-form-label">ชื่อแสดง</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="ชื่อแสดง"
                  formControlName="fullname"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">อีเมล</label>
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control"
                  placeholder="อีเมล"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="Username" class="col-sm-2 col-form-label">ชื่อผู้ใช้</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="ชื่อผู้ใช้"
                  formControlName="username"
                  [attr.disabled]="''"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="position" class="col-sm-2 col-form-label">ตำแหน่ง</label>
              <div class="col-sm-10">
                <input
                  type="text"
                  class="form-control"
                  placeholder="ตำแหน่ง"
                  formControlName="position"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputExperience" class="col-sm-2 col-form-label">สังกัด</label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option value="">-- เลือกสังกัด --</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputExperience" class="col-sm-2 col-form-label">ประเภทผู้ใช้</label>
              <div class="col-sm-10">
                <select class="form-control">
                  <option value="">-- เลือกประเภทผู้ใช้ --</option>
                </select>
              </div>
            </div>
            <!-- <div class="form-group row">
              <div class="offset-sm-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                  </label>
                </div>
              </div>
            </div> -->

          </div><!-- /.card-body -->
          <div class="card-footer clearfix">

            <!-- <button type="submit" class="btn btn-warning">แก้ไข</button> -->

          </div><!-- /.card-footer -->
          
        </div><!-- /.card -->
      </form>
    </div>

  </div><!-- /.row -->
</div><!-- /.container-fluid -->