<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <form [formGroup]="postponeForm" (ngSubmit)="onPostpone($event)">
                    <div class="card-header">
                        <div class="tb__header">
                        <h3 class="card-title">การเลื่อนนัด</h3>
                        </div>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <!-- // TODO: Content here... -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-box bg-info" style="display: flex; margin: 5px 0 20px;">
                                    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>
                                    <div class="info-box-content">
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            HN: {{ appointment && appointment.patient.hn }}
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-4">
                                            ชื่อ-สกุล: {{ appointment && appointment.patient.pname + appointment.patient.fname + ' ' + appointment.patient.lname }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4"></div>
                                    <div class="form-group col-md-4">
                                        <label>เลือนนัดไปวันที่</label>
                                        <input
                                            class="form-control"
                                            formControlName="appoint_date"
                                            (click)="triggerModal(modalAppointment)"
                                            [ngClass]="{ 'is-invalid': submitted && f.appoint_date.errors }"
                                        />
                                        <div *ngIf="submitted && f.appoint_date.errors" class="invalid-feedback">
                                            <div *ngIf="f.appoint_date.errors.required">กรุณาเลือกวันที่เลือนนัด</div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4"></div>
                                </div>
                            </div><!-- /.col -->
                        </div><!-- Main row -->

                    </div><!-- /.card-body -->
                    <div class="card-footer clearfix text-center">
                        <button
                            type="submit"
                            class="btn bg-navy mr-2"
                        >
                            <i class="fas fa-file-export"></i>
                            เลื่อนนัด
                        </button>
                    </div>
                </form>
            </div><!-- /.card -->

        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container -->

<ng-template #modalAppointment let-modal>
    <div class="modal-header">
        <h4 class="modal-title">เลือกวันนัดหมาย</h4>
    </div>
    <div class="modal-body">
        <app-calendar-selection-pcu
            *ngIf="appointType === 1"
            (onSelectedDate)="onAppointed($event, modal)"
        ></app-calendar-selection-pcu>

        <app-calendar-selection
            *ngIf="appointType === 2"
            [doctorSelected]="f.doctor.value"
            (onSelectedDate)="handleAppointed($event, modal)"
        ></app-calendar-selection>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-danger"
            (click)="modal.close('Save click')"
        >
            Close
        </button>
    </div>
</ng-template>
