<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">          
          <h3 class="card-title">รายชื่อแพทย์</h3>
          <div class="card-tools" *ngIf="currentUser.permissions[0].role.id === 1">
            <a routerLink="/doctors/add" class="btn btn-primary">เพิ่มแพทย์</a>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select class="form-control" [(ngModel)]="cboDep" (change)="onFilterByDep(cboDep)">
                  <option value="">-- เลือกสาขา --</option>
                  <option *ngFor="let dep of departs" value="{{ dep.id }}">{{ dep.depart_name }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div
              class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
              *ngFor="let doctor of filteredDoctors | slice: (page-1) * pageSize : page * pageSize; let i = index"
            >

              <app-doctor-card [doctor]="doctor"></app-doctor-card>

            </div>
          </div><!-- /.row -->

          <div class="d-flex justify-content-center">
            <ngb-pagination [collectionSize]="filteredDoctors.length" [(page)]="page" [pageSize]="pageSize">
              <ng-template ngbPaginationPrevious>Prev</ng-template>
              <ng-template ngbPaginationNext>Next</ng-template>
            </ngb-pagination>
          </div>
        </div><!-- /.card-body -->
        <!-- <div class="card-footer clearfix"></div> -->
      </div><!-- /.card -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
