<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="tb__header">
            <h3 class="card-title">รายการออกตรวจ</h3>
  
            <a routerLink="/doctors-schedule/add" class="btn btn-primary">เพิ่มรายการออกตรวจ</a>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">

          <div class="row mb-3">
            <div class="col-md-12">

              <div style="display: flex; flex-direction: row;">
                <select
                  class="form-control col-md-6 mr-2"
                  [(ngModel)]="cboDep"
                  (change)="onFilterByDep(cboDep)"
                >
                  <option value="">-- เลือกสาขา --</option>
                  <option *ngFor="let dep of departs" value="{{ dep.id }}">{{ dep.depart_name }}</option>
                </select>
                <select
                  class="form-control col-md-6"
                  [(ngModel)]="cboDoctor"
                  (change)="onFilterSchedules(cboDoctor)"
                >
                  <option value="">-- เลือกแพทย์ --</option>
                  <option *ngFor="let doctor of filteredDoctors" value="{{ doctor.emp_id }}">
                    {{ doctor.title + doctor.employee.fname + ' ' + doctor.employee.lname }}
                  </option>
                </select>
              </div>

            </div>
          </div>

          <table class="table table-bordered">
            <thead>                  
              <tr>
                <th style="width: 3%;" class="text-center">#</th>
                <th class="text-center">ชื่อ-สกุล</th>
                <th style="width: 10%" class="text-center">เดือน ปี</th>
                <th style="width: 12%" class="text-center">ช่วงเวลาออกตรวจ</th>
                <th style="width: 20%" class="text-center">วันที่ออกตรวจ</th>
                <th style="width: 8%" class="text-center">จน.นัดสูงสุด</th>
                <th style="width: 8%" class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let schedule of filteredSchedules | slice: (page - 1) * pageSize : page * pageSize; let i = index">
                <td class="text-center">{{ ((page - 1) * pageSize) + (i+1) }}</td>
                <td>
                  <div class="user-block">
                    <img
                      *ngIf="schedule.doctor.employee.sex == 1"
                      class="img-circle img-bordered-sm"
                      src="assets/img/avatar-m1-128x128.jpg"
                      alt="user image"
                    />
                    <img
                      *ngIf="schedule.doctor.employee.sex == 2"
                      class="img-circle img-bordered-sm"
                      src="assets/img/avatar-w1-128x128.jpg"
                      alt="user image"
                    />
                    <span class="username">
                      <a routerLink="/doctors/{{ schedule.doctor.emp_id }}/detail">
                        {{ schedule.doctor.title + schedule.doctor.employee.fname + ' ' + schedule.doctor.employee.lname }} 
                      </a>
                    </span>
                    <span class="description">โทร. {{ schedule.doctor.employee.tel1 }}</span>
                  </div>
                  <!-- /.user-block -->
                </td>
                <td class="text-center">{{ schedule.month }}</td>
                <td class="text-center">
                  <span *ngIf="schedule.period === '1'">08.00 - 12.00 น.</span>
                  <span *ngIf="schedule.period === '2'">13.00 - 16.00 น.</span>
                  <span *ngIf="schedule.period === '3'">16.00 - 20.00 น.</span>
                </td>
                <td class="text-center">{{ schedule.days }}</td>
                <td class="text-center">{{ schedule.max_appoint }}</td>
                <td class="text-center">
                  <a
                    routerLink="/doctors-schedule/{{ schedule.id }}/edit"
                    class="btn btn-warning btn-xs mr-1"
                  >
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <a
                    href="#"
                    class="btn btn-danger btn-xs"
                    (click)="onDelete($event, schedule.id)"
                  >
                    <i class="fas fa-trash-alt" style="margin: auto 2px;"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

        </div><!-- /.card-body -->
        <div class="card-footer clearfix">

          <!-- // Pagination component -->
          <ngb-pagination [collectionSize]="filteredSchedules.length" [(page)]="page" [pageSize]="pageSize">
            <ng-template ngbPaginationPrevious>Prev</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
          </ngb-pagination>

        </div><!-- /.card-footer -->

      </div><!-- /.card -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->