<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">แก้ไขตารางออกตรวจ</h3>
        </div><!-- /.card-header -->
        <div class="card-body">

          <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="">สาขา</label>
                <select
                  class="form-control"
                  formControlName="depart"
                  (change)="onFilterByDep(f.depart.value)"
                >
                  <option value="">-- เลือกสาขา --</option>
                  <option *ngFor="let dep of departs" value="{{ dep.id }}">{{ dep.depart_name }}</option>
                </select>
                <div *ngIf="submitted && f.doctor.errors" class="invalid-feedback">
                  <div *ngIf="f.doctor.errors.required">กรุณาเลือกสาขา</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="">แพทย์</label>
                <select
                  class="form-control"
                  formControlName="doctor"
                  [ngClass]="{ 'is-invalid': submitted && f.doctor.errors }"
                >
                  <option value="">-- เลือกแพทย์ --</option>
                  <option *ngFor="let doctor of filteredDoctors" value="{{ doctor.emp_id }}">
                    {{ doctor.title + doctor.employee.fname + ' ' + doctor.employee.lname }}
                  </option>
                </select>
                <div *ngIf="submitted && f.doctor.errors" class="invalid-feedback">
                  <div *ngIf="f.doctor.errors.required">กรุณาเลือกแพทย์</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="">เดือน</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="ด/ป"
                  formControlName="month"
                  bsDatepicker
                  [bsConfig]="{ minMode:'month', adaptivePosition: true, dateInputFormat: 'MM/YYYY', containerClass: 'theme-default' }"
                  [ngClass]="{ 'is-invalid': submitted && f.month.errors }"
                  (onShown)="onOpenCalendar($event)"
                />
                <div *ngIf="submitted && f.month.errors" class="invalid-feedback">
                  <div *ngIf="f.month.errors.required">กรุณาเลือกเดือนปี</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="">ช่วงเวลา</label>
                <select
                  class="form-control"
                  formControlName="period"
                  [ngClass]="{ 'is-invalid': submitted && f.period.errors }"
                >
                  <option value="">-- เลือกช่วงเวลา --</option>
                  <option value="1">08.00 - 12.00 น.</option>
                  <option value="2">13.00 - 16.00 น.</option>
                  <option value="3">16.00 - 20.00 น.</option>
                </select>
                <div *ngIf="submitted && f.period.errors" class="invalid-feedback">
                  <div *ngIf="f.period.errors.required">กรุณาเลือกช่วงเวลา</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="">จำนวนนัดสูงสุด</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="max_appoint"
                  [ngClass]="{ 'is-invalid': submitted && f.max_appoint.errors }"
                />
                <div *ngIf="submitted && f.max_appoint.errors" class="invalid-feedback">
                  <div *ngIf="f.max_appoint.errors.required">กรุณาระบุจำนวนนัดสูงสุด</div>
                  <div *ngIf="!f.max_appoint.errors.required && isNumberic(f.max_appoint.errors?.pattern)">
                    กรุณาระบุจำนวนนัดสูงสุดเป็นตัวเลข
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="">วันที่</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="days"
                    [attr.disabled]="''"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-danger" (click)="onClearDays($event)">
                      Clear
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <full-calendar
                  #calendar
                  [options]="options"
                ></full-calendar>
              </div>
              <div class="form-group col-md-12">
                <button type="submit" class="btn btn-warning float-right">แก้ไข</button>
              </div>
            </div>
          </form>

        </div><!-- /.card-body -->
      </div><!-- /.card -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
