<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">          
          <h3 class="card-title">ตารางออกตรวจแพทย์</h3>
          <div class="card-tools">
            <a routerLink="/doctors-schedule/add" class="btn btn-primary">เพิ่มตารางออกตรวจ</a>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">

          <div class="row">
            <div class="col-md-12">

              <div style="display: flex; flex-direction: row;">
                <select
                  class="form-control col-md-6 mr-2"
                  [(ngModel)]="cboDep"
                  (change)="onFilterByDep(cboDep)"
                >
                  <option value="">-- เลือกสาขา --</option>
                  <option *ngFor="let dep of departs" value="{{ dep.id }}">{{ dep.depart_name }}</option>
                </select>
                <select
                  class="form-control col-md-6"
                  [(ngModel)]="cboDoctor"
                  (change)="onRederSchedules(cboDoctor)"
                >
                  <option value="">-- เลือกแพทย์ --</option>
                  <option *ngFor="let doctor of filteredDoctors" value="{{ doctor.emp_id }}">
                    {{ doctor.title + doctor.employee.fname + ' ' + doctor.employee.lname }}
                  </option>
                </select>
              </div>

            </div>
          </div>

          <app-doctor-schedule
            [calendarEvents]="calendarEvents"
          ></app-doctor-schedule>

        </div><!-- /.card-body -->
        <!-- <div class="card-footer clearfix"></div> -->
      </div><!-- /.card -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
