<select class="form-control" [(ngModel)]="model" (change)="onChange()">
    <option value="">-- เลือก{{ placeholder }} --</option>
    <option value="{{ item.id }}" *ngFor="let item of items">{{ item.name }}</option>
</select>
