<div class="login-box">
  <div class="login-logo">
    <a routerLink="/"><b>Appointment</b> Online</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">
        <span style="font-weight: bold;">ล็อกอิน</span> เพื่อเข้าใช้งานระบบ
      </p>

      <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username" formControlName="username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" formControlName="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="icheck-primary">
              <input type="checkbox" id="remember">
              <label for="remember">
                Remember Me
              </label>
            </div>
          </div><!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!signinForm.valid">
              ล็อกอิน
            </button>
          </div><!-- /.col -->
        </div>
      </form>

      <!-- /.social-auth-links -->
      <!-- <div class="social-auth-links text-center mb-3">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-primary">
          <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
          <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
      </div> -->
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="forgot-password.html">ลืมรหัสผ่าน</a>
      </p>
      <p class="mb-0">
        <a routerLink="/signup" class="text-center">ลงทะเบียนผู้ใช้ใหม่</a>
      </p>
    </div><!-- /.login-card-body -->
  </div>
</div><!-- /.login-box -->
