<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{ data?.title }}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li
            class="breadcrumb-item"
            *ngFor="let item of data?.breadcrumbs; let i = index" 
            [ngClass]="{ 'active': i === data?.breadcrumbs.length - 1 }"
          >
            <a href="{{ item.url }}" *ngIf="i < data?.breadcrumbs.length - 1">{{ item.label }}</a>
            <span *ngIf="i === data?.breadcrumbs.length - 1">{{ item.label }}</span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>