<div class="wrapper" *ngIf="isAuth else signinPage">
  <!-- Main header -->
  <app-main-header></app-main-header>

  <!-- Main sidebar -->
  <app-main-sidebar></app-main-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <app-content-header [data]="contentHeader"></app-content-header>

    <!-- Main content -->
    <section class="content">

      <router-outlet></router-outlet>

    </section>

  </div>

  <!-- Main footer -->
  <app-main-footer></app-main-footer>
</div>

<ng-template #signinPage>
  <app-signin *ngIf="isOnSigninPage else signupPage"></app-signin>
</ng-template>

<ng-template #signupPage>
  <app-signup></app-signup>
</ng-template>
