<div>
    <select
        class="form-control"
        [ngClass]="{ 'is-invalid': isInvalid }"
        [(ngModel)]="value"
        (change)="onItemSelected($event)"
    >
        <option value="">-- เลือกอำเภอ --</option>
        <option *ngFor="let item of items" value="{{ item.amp_id }}">
            {{ item.amphur }}
        </option>
    </select>
    <div *ngIf="isInvalid" class="invalid-feedback">
        <div *ngIf="errors.required">กรุณาเลือกอำเภอ</div>
    </div>
</div>