<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="tb__header">
            <h3 class="card-title">รายการผู้ใช้งาน</h3>
  
            <a routerLink="/users/add" class="btn btn-primary">เพิ่มผู้ใช้งาน</a>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">

          <!-- // TODO: Should create separate to its own component -->
          <div class="row my-2">
            <div class="col-md-12">
              <div style="display: flex; flex-direction: row;">
                <!-- <input type="text" class="form-control mr-2" [(ngModel)]="filterInputs.keyword">

                <select [(ngModel)]="filterInputs.condition" class="form-control mr-2">
                  <option value="1">เลขที่ Refer</option>
                  <option value="2">เลขที่บัตรประชาชน</option>
                  <option value="3">ชื่อผู้ป่วย</option>
                </select>

                <div class="input-group mr-2">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="filterInputs.appointDate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    placeholder="ว/ด/ป"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      (click)="d.toggle()"
                    >
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>

                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="onFilter()"
                >
                  <i class="fas fa-search"></i>
                </button> -->
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>                  
                <tr>
                  <th style="width: 3%;" class="text-center">#</th>
                  <th class="text-center">ชื่อเต็ม</th>
                  <th style="width: 15%" class="text-center">อีเมล</th>
                  <th style="width: 10%" class="text-center">สังกัด</th>
                  <th style="width: 15%" class="text-center">ตำแหน่ง</th>
                  <th style="width: 10%" class="text-center">สิทธิ์</th>
                  <th style="width: 10%" class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of filteredUsers | slice: (page - 1) * pageSize : page * pageSize; let i = index">
                  <td class="text-center">{{ ((page - 1) * pageSize) + (i+1) }}</td>
                  <td>{{ user.fullname }}</td>
                  <td class="text-center">{{ user.email }}</td>
                  <!-- <td class="text-center">
                    <span class="badge bg-danger">{{ user.right?.right_name }}</span>
                  </td> -->
                  <td class="text-center">{{ user.hospcode }}</td>
                  <td class="text-center">{{ user.position }}</td>
                  <td class="text-center"></td>
                  <td class="text-center">
                    <!-- <a routerLink="/users/{{ user.id }}/detail" class="btn btn-info btn-xs mr-1">
                      <i class="fas fa-search"></i>
                    </a> -->
                    <a routerLink="/users/{{ user.id }}/edit" class="btn btn-warning btn-xs mr-1">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                    <!-- <a href="#" (click)="onDelete($event, user.id)" class="btn btn-danger btn-xs">
                      <i class="fas fa-trash-alt" style="margin: auto 2px;"></i>
                    </a> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          
          <ngb-pagination
            *ngIf="filteredUsers"
            [collectionSize]="filteredUsers.length"
            [(page)]="page"
            [pageSize]="pageSize"
            [maxSize]="2"
            [boundaryLinks]="true"
          >
            <ng-template ngbPaginationFirst><i class="fas fa-angle-double-left"></i></ng-template>
            <ng-template ngbPaginationPrevious><i class="fas fa-arrow-circle-left"></i></ng-template>
            <ng-template ngbPaginationNext><i class="fas fa-arrow-circle-right"></i></ng-template>
            <ng-template ngbPaginationLast><i class="fas fa-angle-double-right"></i></ng-template>
          </ngb-pagination>

        </div>
      </div><!-- /.card -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
