<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">แก้ไขข้อมูลผู้ป่วย</h3>
                </div><!-- /.card-header -->
                <div class="card-body">

                    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="hn">HN รพ.</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="hn"
                                    formControlName="hn"
                                    [ngClass]="{ 'is-invalid': submitted && f.hn.errors }"
                                    placeholder="HN"
                                />
                                <div *ngIf="submitted && f.hn.errors" class="invalid-feedback">
                                  <div *ngIf="f.hn.errors.required">กรุณากรอกเลข HN รพ.</div>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label>คำนำหน้า</label>
                                <select
                                    class="form-control"
                                    formControlName="pname"
                                    [ngClass]="{ 'is-invalid': submitted && f.pname.errors }"
                                >
                                    <option value="">-- เลือกคำนำหน้า --</option>
                                    <option value="ด.ช.">ด.ช.</option>
                                    <option value="ด.ญ.">ด.ญ.</option>
                                    <option value="นาย">นาย</option>
                                    <option value="นาง">นาง</option>
                                    <option value="นางสาว">นางสาว</option>
                                </select>
                                <div *ngIf="submitted && f.pname.errors" class="invalid-feedback">
                                    <div *ngIf="f.pname.errors.required">กรุณาเลือกคำนำหน้า</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>ชื่อ</label>
                                <input
                                    class="form-control"
                                    formControlName="fname"
                                    placeholder="ชื่อ"
                                    [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"
                                />
                                <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                                    <div *ngIf="f.fname.errors.required">กรุณากรอกชื่อ</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>นามสกุล</label>
                                <input
                                    class="form-control"
                                    formControlName="lname"
                                    placeholder="นามสกุล"
                                    [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"
                                />
                                <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                                    <div *ngIf="f.lname.errors.required">กรุณากรอกนามสกุล</div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>เพศ</label>
                                <div class="form-control__radio">
                                    <div class="mr-5">
                                        <input type="radio" name="sex" formControlName="sex" value="1" /> ชาย
                                    </div>
                                    <div>
                                        <input type="radio" name="sex" formControlName="sex" value="2" /> หญิง
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>วันเกิด</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        placeholder="ว/ด/ป"
                                        formControlName="birthdate"
                                        ngbDatepicker 
                                        #birthDate="ngbDatepicker"
                                        [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }"
                                    />
                                    <div class="input-group-append">
                                        <button
                                            type="button"
                                            class="btn btn-outline-secondary"
                                            (click)="birthDate.toggle()"
                                        >
                                            <i class="far fa-calendar-alt"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                                        <div *ngIf="f.birthdate.errors.required">กรุณาระบุวันเกิด</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cid">เลขประจำตัว 13 หลัก</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="cid"
                                        formControlName="cid"
                                        placeholder="เลขประจำตัว 13 หลัก"
                                        [ngClass]="{ 'is-invalid': submitted && f.cid.errors }"
                                    />
                                    <div class="input-group-append">
                                    <!-- <button
                                        type="button"
                                        class="btn btn-outline-primary"
                                        (click)="triggerModal(modalPatient)"
                                    >
                                        <i class="fas fa-search"></i>
                                    </button> -->
                                    </div>
                                    <div *ngIf="submitted && f.cid.errors" class="invalid-feedback">
                                    <div *ngIf="f.cid.errors.required">กรุณากรอกเลขประจำตัว 13 หลัก</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="Passport">Passport</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="passport"
                                    placeholder="Passport"
                                />
                            </div>
                            <!-- <div class="form-group col-md-4">
                                <label>ที่อยู่เลขที่</label>
                                <input
                                    class="form-control"
                                    formControlName="address"
                                    placeholder="ที่อยู่เลขที่"
                                    [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                                />
                                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                    <div *ngIf="f.address.errors.required">กรุณากรอกที่อยู่เลขที่</div>
                                </div>
                            </div>                            
                            <div class="form-group col-md-4">
                                <label>หมู่</label>
                                <input class="form-control" formControlName="moo" placeholder="หมู่" />
                            </div>
                            <div class="form-group col-md-4">
                                <label for="Passport">ถนน</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    formControlName="road"
                                    placeholder="ถนน"
                                />
                            </div>
                            <div class="form-group col-md-4">
                                <label>จังหวัด</label>
                                <select
                                    #changwat
                                    class="form-control"
                                    formControlName="changwat"
                                    [ngClass]="{ 'is-invalid': submitted && f.changwat.errors }"
                                    (change)="onChangwatChange($event, changwat.value)"
                                >
                                    <option value="">-- เลือกจังหวัด --</option>
                                    <option *ngFor="let chw of changwats" value="{{ chw.chw_id}}">
                                        {{ chw.changwat }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.changwat.errors" class="invalid-feedback">
                                    <div *ngIf="f.changwat.errors.required">กรุณาเลือกจังหวัด</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>อำเภอ</label>
                                <select
                                    #amphur
                                    class="form-control"
                                    formControlName="amphur"
                                    [ngClass]="{ 'is-invalid': submitted && f.amphur.errors }"
                                    (change)="onAmphurChange($event, amphur.value)"
                                >
                                    <option value="">-- เลือกอำเภอ --</option>
                                    <option *ngFor="let amp of filteredAmphurs" value="{{ amp.id}}">
                                        {{ amp.amphur }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.amphur.errors" class="invalid-feedback">
                                    <div *ngIf="f.amphur.errors.required">กรุณาเลือกอำเภอ</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>ตำบล</label>
                                <select
                                    class="form-control"
                                    formControlName="tambon"
                                    [ngClass]="{ 'is-invalid': submitted && f.tambon.errors }"
                                >
                                    <option value="">-- เลือกตำบล --</option>
                                    <option *ngFor="let tam of filteredTambons" value="{{ tam.id}}">
                                        {{ tam.tambon }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.tambon.errors" class="invalid-feedback">
                                    <div *ngIf="f.tambon.errors.required">กรุณาเลือกตำบล</div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>รหัสไปรษณีย์</label>
                                <input
                                    class="form-control"
                                    formControlName="zipcode"
                                    placeholder="รหัสไปรษณีย์"
                                    [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }"
                                />
                                <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                                    <div *ngIf="f.zipcode.errors.required">กรุณากรอกรหัสไปรษณีย์</div>
                                </div>
                            </div> -->
                            <div class="form-group col-md-3">
                                <label>โทรศัพท์ #1</label>
                                <input
                                    class="form-control"
                                    formControlName="tel1"
                                    placeholder="โทรศัพท์ #1"
                                    [ngClass]="{ 'is-invalid': submitted && f.tel1.errors }"
                                />
                                <div *ngIf="submitted && f.tel1.errors" class="invalid-feedback">
                                    <div *ngIf="f.tel1.errors.required">กรุณากรอกเบอร์โทรศัพท์ #1</div>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label>โทรศัพท์ #2 (ถ้ามี)</label>
                                <input class="form-control" formControlName="tel2" placeholder="โทรศัพท์ #2" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>สิทธิการรักษา</label>
                                <select
                                    class="form-control"
                                    formControlName="main_right"
                                    [ngClass]="{ 'is-invalid': submitted && f.main_right.errors }"
                                >
                                    <option value="">-- เลือกสิทธิการรักษา --</option>
                                    <option *ngFor="let right of rights" value="{{ right.id}}">
                                        {{ right.right_name }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.main_right.errors" class="invalid-feedback">
                                    <div *ngIf="f.main_right.errors.required">กรุณาเลือกสิทธิการรักษา</div>
                                </div>
                            </div>
                            <!-- <div class="form-group col-md-8">
                                <label for="cid">หน่วยบริการหลัก</label>
                                <div class="input-group">
                                    <input
                                        type="text"
                                        id="hosp_main_desc"
                                        class="form-control"
                                        formControlName="hosp_main_desc"
                                        placeholder="หน่วยบริการหลัก"
                                        [ngClass]="{ 'is-invalid': submitted && f.hosp_main.errors }"
                                    />
                                    <input
                                        type="hidden"
                                        id="hosp_main"
                                        class="form-control"
                                        formControlName="hosp_main"
                                    />
                                    <div class="input-group-append">
                                    <button
                                        type="button"
                                        class="btn btn-primary"
                                        (click)="triggerModal(modalHospcode)"
                                    >
                                        <i class="fas fa-search"></i>
                                    </button>
                                    </div>
                                    <div *ngIf="submitted && f.hosp_main.errors" class="invalid-feedback">
                                    <div *ngIf="f.hosp_main.errors.required">กรุณากรอกหน่วยบริการหลัก</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>สัญชาติ</label>
                                <select
                                    class="form-control"
                                    formControlName="nationality"
                                    [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }"
                                >
                                    <option value="">-- เลือกเชื้อชาติ --</option>
                                    <option *ngFor="let nation of nationalities" value="{{ nation.nationality }}">
                                        {{ nation.name }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
                                    <div *ngIf="f.nationality.errors.required">กรุณากรอกสัญชาติ</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>เชื้อชาติ</label>
                                <select
                                    class="form-control"
                                    formControlName="race"
                                    [ngClass]="{ 'is-invalid': submitted && f.race.errors }"
                                >
                                    <option value="">-- เลือกเชื้อชาติ --</option>
                                </select>
                                <div *ngIf="submitted && f.race.errors" class="invalid-feedback">
                                    <div *ngIf="f.race.errors.required">กรุณาเลือกเชื้อชาติ</div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label>หมู่เลือด</label>
                                <select
                                    class="form-control"
                                    formControlName="race"
                                    [ngClass]="{ 'is-invalid': submitted && f.race.errors }"
                                >
                                    <option value="">-- เลือกหมู่เลือด --</option>
                                </select>
                                <div *ngIf="submitted && f.race.errors" class="invalid-feedback">
                                    <div *ngIf="f.race.errors.required">กรุณาเลือกหมู่เลือด</div>
                                </div>
                            </div> -->
                            <div class="form-group col-md-12">
                                <label>หมายเหตุ</label>
                                <textarea
                                    rows="3"
                                    class="form-control"
                                    formControlName="remark"
                                ></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <button type="submit" class="btn btn-warning float-right">
                                    บันทึก
                                </button>
                            </div>
                        </div><!-- /.row -->
                    </form>

                </div><!-- /.card-body -->
            </div><!-- /.card -->

        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container -->

<ng-template #modalHospcode let-modal>
    <div class="modal-header">
        <h4 class="modal-title">เลือกหน่วยบริการหลัก</h4>
    </div>
    <div class="modal-body">
        <!-- <app-patient-list (handleSelected)="onPatientSelected($event, modal)"></app-patient-list> -->
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-danger"
            (click)="modal.close('Save click')"
        >
            Close
        </button>
    </div>
</ng-template>
