@import "~bs-stepper/dist/css/bs-stepper.min.css";

.form-control__radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(2.25rem + 2px);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding-left: 1rem;
}
