<div class="small-box" [ngClass]="color">
  <div class="inner">
    <h3>{{ value }}</h3>

    <p>{{ title }}</p>
  </div>
  <div class="icon">
    <i class="ion" [ngClass]="icon"></i>
  </div>
  <a routerLink="{{ link }}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
</div>