<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">ปฏิทินนัดหมาย</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select id="cboClinic" name="cboClinic" [(ngModel)]="cboClinic" class="form-control">
                                    <option *ngFor="let clinic of clinics" value="{{ clinic.id}}">
                                        {{ clinic.clinic_name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <app-calendar-appointment
                        [appointType]="appointType"
                        [clinicSelected]="cboClinic"
                        (onSelectedDate)="onAppointed($event, null)"
                    ></app-calendar-appointment>

                </div>
            </div>
        </div>
    </div>
</div>
