<!-- Custom tabs (Charts with tabs)-->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">
      <i class="fas fa-chart-bar mr-1"></i>
      จำนวนนัดหมายรายวัน
    </h3>
  </div><!-- /.card-header -->
  <div class="card-body">

      <div class="chart" [chart]="chart" style="position: relative; height: 360px;"></div>

  </div><!-- /.card-body -->
</div><!-- /.card -->