<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#">
        <i class="fas fa-bars"></i>
      </a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/" class="nav-link">หน้าหลัก</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/develper" class="nav-link">เกี่ยวกับผู้พัฒนา</a>
    </li>
  </ul>

  <!-- SEARCH FORM -->
  <!-- <SearchFormMenu /> -->

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Messages Dropdown Menu -->
    <!-- <MessagesMenuItem /> -->

    <!-- Notifications Dropdown Menu -->
    <!-- <NotificationsMenuItem /> -->

    <!-- User logged in -->
    <app-loggedin-menu-item [user]="currentUser"></app-loggedin-menu-item>

    <!-- <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
          <i class="fas fa-th-large"></i>
      </a>
    </li> -->
  </ul>
</nav>