<div className="container-fluid">
  <!-- Filtering Inputs -->
  <div class="row mb-4">
    <div class="col-4">
      <!-- <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="ด/ป"
          ngbDatepicker
          #datePicker="ngbDatepicker"
          [startDate]="{year: 2024, month: 5}"
          [(ngModel)]="selectedMonth"
        />
        <div class="input-group-append">
          <button
              type="button"
              class="btn btn-outline-secondary"
              (click)="datePicker.toggle()"
          >
              <i class="far fa-calendar-alt"></i>
          </button>
        </div>
      </div> -->
      <!-- <form [formGroup]="frmMonth" novalidate> -->
        <!-- formControlName="selected" -->
        <app-month-picker
          name="selected"
          (selectedMonth)="setSelectedMonth($event)"
        ></app-month-picker>
      <!-- </form> -->
    </div>
  </div>
  <!-- Filtering Inputs -->

  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-6" *ngFor="let card of cardStats">
      <app-stat-card
        [value]="card.value"
        [title]="card.title"
        [icon]="card.icon"
        [color]="card.color"
      ></app-stat-card>
    </div><!-- ./col -->
  </div><!-- ./row -->
  <!-- Small boxes (Stat box) -->

  <!-- Main row -->
  <div class="row">
    <section class="col-lg-6 connectedSortable">

      <!-- <app-appoint-day-chart></app-appoint-day-chart> -->

    </section>
    <!-- Left col -->

    <!-- Right col -->
    <section class="col-lg-6 connectedSortable">

      <app-appoint-clinic-chart [month]="selectedMonth"></app-appoint-clinic-chart>

    </section>

    <section class="col-lg-12 connectedSortable">

      <app-appoint-daily-chart [month]="selectedMonth"></app-appoint-daily-chart>

    </section>
  </div><!-- Main row -->
</div><!-- /.container -->
