<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">แก้ไขแพทย์</h3>
        </div><!-- /.card-header -->

        <div class="card-body">

          <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-group col-md-2">
                <label for="cid">เลขประจำตัว 13 หลัก</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="cid"
                    formControlName="cid"
                    placeholder="เลขประจำตัว 13 หลัก"
                    [ngClass]="{ 'is-invalid': submitted && f.cid.errors }"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      (click)="triggerModal(modalPatient)"
                    >
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                  <div *ngIf="submitted && f.cid.errors" class="invalid-feedback">
                    <div *ngIf="f.cid.errors.required">กรุณากรอกเลขประจำตัว 13 หลัก</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-2">
                <label>คำนำหน้า</label>
                <select
                  class="form-control"
                  formControlName="prefix"
                  [ngClass]="{ 'is-invalid': submitted && f.prefix.errors }"
                  (change)="onPrefixSelected(f.prefix.value)"
                >
                  <option value="">-- เลือกคำนำหน้า --</option>
                  <option value="นาย">นาย</option>
                  <option value="นาง">นาง</option>
                  <option value="นางสาว">นางสาว</option>
                </select>
                <div *ngIf="submitted && f.prefix.errors" class="invalid-feedback">
                  <div *ngIf="f.prefix.errors.required">กรุณาเลือกคำนำหน้า</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>ชื่อ</label>
                <input
                  class="form-control"
                  formControlName="fname"
                  placeholder="ชื่อแพทย์"
                  [ngClass]="{ 'is-invalid': submitted && f.fname.errors }"
                />
                <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                  <div *ngIf="f.fname.errors.required">กรุณากรอกชื่อแพทย์</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>นามสกุล</label>
                <input
                  class="form-control"
                  formControlName="lname"
                  placeholder="นามสกุลแพทย์"
                  [ngClass]="{ 'is-invalid': submitted && f.lname.errors }"
                />
                <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                  <div *ngIf="f.lname.errors.required">กรุณากรอกนามสกุลแพทย์</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>เพศ</label>
                <div class="form-control__radio">
                  <div class="mr-5">
                    <input type="radio" name="sex" formControlName="sex" value="1" /> ชาย
                  </div>
                  <div>
                    <input type="radio" name="sex" formControlName="sex" value="2" /> หญิง
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>วันเกิด</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="ว/ด/ป"
                    formControlName="birthdate"
                    ngbDatepicker 
                    #birthDate="ngbDatepicker"
                    [startDate]="{year: 2021, month: 7}"
                    [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }"
                  />
                  <div class="input-group-append">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="birthDate.toggle()"
                    >
                        <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                  <div *ngIf="submitted && f.birthdate.errors" class="invalid-feedback">
                    <div *ngIf="f.birthdate.errors.required">กรุณาระบุวันเกิด</div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>โทรศัพท์ #1</label>
                <input
                  class="form-control"
                  formControlName="tel1"
                  placeholder="โทรศัพท์ #1"
                  [ngClass]="{ 'is-invalid': submitted && f.tel1.errors }"
                />
                <div *ngIf="submitted && f.tel1.errors" class="invalid-feedback">
                  <div *ngIf="f.tel1.errors.required">กรุณากรอกเบอร์โทรศัพท์ #1</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>โทรศัพท์ #2 (ถ้ามี)</label>
                <input class="form-control" formControlName="tel2" placeholder="โทรศัพท์ #2" />
              </div>
              <div class="form-group col-md-4">
                <label for="patient_hn">HN รพ. (ถ้ามี)</label>
                <input
                  type="text"
                  class="form-control"
                  id="patient_hn"
                  formControlName="patient_hn"
                  [ngClass]="{ 'is-invalid': submitted && f.patient_hn.errors }"
                  placeholder="HN"
                />
                <div *ngIf="submitted && f.patient_hn.errors" class="invalid-feedback">
                  <div *ngIf="f.patient_hn.errors.required">กรุณากรอกเลข HN รพ.</div>
                </div>
              </div>
              <!-- <div class="form-group col-md-4">
                <label for="Passport">Passport</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="passport"
                  placeholder="Passport" />
              </div> -->
              <div class="form-group col-md-4">
                <label>ประเภทตำแหน่ง</label>
                <select
                  class="form-control"
                  formControlName="position_type"
                  [ngClass]="{ 'is-invalid': submitted && f.position_type.errors }"
                >
                  <option value="">-- เลือกประเภทตำแหน่ง --</option>
                  <option *ngFor="let pt of positionTypes" value="{{ pt.id}}">
                    {{ pt.name }}
                  </option>
                </select>
                <div *ngIf="submitted && f.position_type.errors" class="invalid-feedback">
                  <div *ngIf="f.position_type.errors.required">กรุณาเลือกประเภทตำแหน่ง</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>ตำแหน่ง</label>
                <select
                  class="form-control"
                  formControlName="position"
                  [ngClass]="{ 'is-invalid': submitted && f.position.errors }"
                >
                  <option value="">-- เลือกตำแหน่ง --</option>
                  <option *ngFor="let position of positions" value="{{ position.id}}">
                    {{ position.position_name }}
                  </option>
                </select>
                <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
                  <div *ngIf="f.position.errors.required">กรุณาเลือกตำแหน่ง</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>ระดับ</label>
                <select
                  class="form-control"
                  formControlName="position_class"
                  [ngClass]="{ 'is-invalid': submitted && f.position_class.errors }"
                >
                  <option value="">-- เลือกระดับ --</option>
                  <option *ngFor="let pc of positionClasses" value="{{ pc.id}}">
                    {{ pc.name }}
                  </option>
                </select>
                <div *ngIf="submitted && f.position_class.errors" class="invalid-feedback">
                  <div *ngIf="f.position_class.errors.required">กรุณาเลือกระดับ</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>วันที่บรรจุ</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="ว/ด/ป"
                    formControlName="start_date"
                    ngbDatepicker 
                    #start_date="ngbDatepicker"
                    [startDate]="{year: 2021, month: 7}"
                    [ngClass]="{ 'is-invalid': submitted && f.start_date.errors }"
                  />
                  <div class="input-group-append">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="start_date.toggle()"
                    >
                        <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
                <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback">
                  <div *ngIf="f.start_date.errors.required">กรุณาระบุวันเกิด</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>เลขที่ใบประกอบวิชาชีพ</label>
                <input
                  class="form-control"
                  formControlName="license_no"
                  placeholder="เลขที่ใบประกอบวิชาชีพ"
                  [ngClass]="{ 'is-invalid': submitted && f.license_no.errors }"
                />
                <div *ngIf="submitted && f.license_no.errors" class="invalid-feedback">
                  <div *ngIf="f.license_no.errors.required">กรุณากรอกเลขที่ใบประกอบวิชาชีพ</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>วันที่หมดอายุใบประกอบวิชาชีพ</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="ว/ด/ป"
                    formControlName="license_renewal_date"
                    ngbDatepicker 
                    #license_renewal_date="ngbDatepicker"
                    [startDate]="{year: 2021, month: 7}"
                    [ngClass]="{ 'is-invalid': submitted && f.license_renewal_date.errors }"
                  />
                  <div class="input-group-append">
                    <button
                        type="button"
                        class="btn btn-outline-secondary"
                        (click)="license_renewal_date.toggle()"
                    >
                        <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
                <div *ngIf="submitted && f.license_renewal_date.errors" class="invalid-feedback">
                  <div *ngIf="f.license_renewal_date.errors.required">กรุณาเลือกวันที่หมดอายุใบประกอบวิชาชีพ</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>สาขา</label>
                <select
                  class="form-control"
                  formControlName="depart"
                  [ngClass]="{ 'is-invalid': submitted && f.depart.errors }"
                  (change)="onDepartSelected(f.depart.value)"
                >
                  <option value="">-- เลือกสาขา --</option>
                  <option *ngFor="let dep of departs" value="{{ dep.id}}">
                    {{ dep.depart_name }}
                  </option>
                </select>
                <div *ngIf="submitted && f.depart.errors" class="invalid-feedback">
                  <div *ngIf="f.depart.errors.required">กรุณาเลือกสาขา</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>ความเชี่ยวชาญ</label>
                <select
                  class="form-control"
                  formControlName="specialist"
                  [ngClass]="{ 'is-invalid': submitted && f.specialist.errors }"
                >
                  <option value="">-- เลือกความเชี่ยวชาญ --</option>
                  <option *ngFor="let sp of specialists" value="{{ sp.id}}">
                    {{ sp.specialist_name }}
                  </option>
                </select>
                <div *ngIf="submitted && f.specialist.errors" class="invalid-feedback">
                  <div *ngIf="f.specialist.errors.required">กรุณาเลือกความเชี่ยวชาญ</div>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label>หมายเหตุ</label>
                <textarea
                  rows="5"
                  class="form-control"
                  formControlName="remark"
                ></textarea>
              </div>
              <div class="form-group col-md-12">
                <button type="submit" class="btn btn-warning float-right">แก้ไข</button>
              </div>
            </div><!-- /.row -->

          </form>

        </div><!-- /.card-body -->
      </div><!-- /.card -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->

<ng-template #modalPatient let-modal>
  <div class="modal-header">
    <h4 class="modal-title">เลือกบุคลากร รพ.</h4>
  </div>
  <div class="modal-body">

    <!-- <app-patient-list (handleSelected)="onPatientSelected($event, modal)"></app-patient-list> -->

  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('Save click')"
    >
      Close
    </button>
  </div>
</ng-template>
