<div>
  <form class="form-inline mb-2">
    <div class="form-group">
      <label for="condition">ค้นหาโดย :</label>
      <select
        class="form-control mx-2"
        [(ngModel)]="filterInputs.condition"
        [ngModelOptions]="{standalone: true}"
      >
        <option value="1">HN</option>
        <option value="2">เลขประจำตัว 13 หลัก</option>
        <option value="3">ชื่อ-สกุล</option>
      </select>
    </div>
    <div class="form-group">
      <label for="keyword">คำค้นหา :</label>
      <input
        type="text"
        class="form-control ml-2"
        [(ngModel)]="filterInputs.keyword"
        [ngModelOptions]="{standalone: true}"
      />
    </div>

    <button class="btn btn-primary ml-2" (click)="onFilter()">ค้นหา</button>
    <button class="btn btn-danger ml-1" (click)="onClearFilter()">Clear</button>

    <span *ngIf="filterInputs.condition === '3'" class="text-danger ml-2">
      *พิมพ์ชื่ออย่างเดียว หรือ พิมพ์ชื่อเว้นวรรค 1 ครั้ง และตามด้วยนามสกุล
    </span>
    <span *ngIf="filterInputs.condition !== '3'" class="text-danger ml-2">
      *พิมพ์คำค้นบางส่วน หรือ ทั้งหมด
    </span>
  </form>

  <table class="table table-bordered">
    <thead>                  
      <tr>
        <th style="width: 3%;" class="text-center">#</th>
        <th style="width: 9%" class="text-center">HN</th>
        <th class="text-center">ชื่อ-สกุล</th>
        <th style="width: 10%" class="text-center">เลข 13 หลัก</th>
        <th style="width: 10%" class="text-center">วันเกิด</th>
        <th style="width: 5%" class="text-center">อายุ</th>
        <th style="width: 15%" class="text-center">สิทธิ์</th>
        <th style="width: 8%" class="text-center">โทรศัพท์</th>
        <th style="width: 6%" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of filteredPatients | slice: (page - 1) * pageSize : page * pageSize; let i = index">
        <td class="text-center">{{ ((page - 1) * pageSize) + (i + 1) }}</td>
        <td class="text-center">{{ patient.hn }}</td>
        <td>{{ patient.pname + patient.fname + ' ' + patient.lname }}</td>
        <td class="text-center">{{ patient.cid }}</td>
        <td class="text-center">{{ patient.birthdate | thdate }}</td>
        <td class="text-center">{{ calcAge(patient.birthdate) }} ปี</td>
        <td class="text-center">{{ patient.right.right_name }}</td>
        <td class="text-center">{{ patient.tel1 }}</td>
        <td class="text-center">
          <a href="#" class="btn btn-info btn-sm mr-1" (click)="onSelected($event, patient)">
            เลือก
          </a>
          <!-- <a href="#" class="btn btn-info btn-xs mr-1">
            <i class="fas fa-search"></i>
          </a>
          <a href="#" class="btn btn-warning btn-xs mr-1">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a href="#" class="btn btn-danger btn-xs">
            <i class="fas fa-trash-alt" style="margin: auto 2px;"></i>
          </a> -->
        </td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination
    [collectionSize]="filteredPatients.length"
    [(page)]="page"
    [pageSize]="pageSize"
    [maxSize]="5"
    [boundaryLinks]="true"
  >
    <ng-template ngbPaginationFirst><i class="fas fa-angle-double-left"></i></ng-template>
    <ng-template ngbPaginationPrevious><i class="fas fa-arrow-circle-left"></i></ng-template>
    <ng-template ngbPaginationNext><i class="fas fa-arrow-circle-right"></i></ng-template>
    <ng-template ngbPaginationLast><i class="fas fa-angle-double-right"></i></ng-template>
  </ngb-pagination>
</div>
