::ng-deep .fc-event {
  cursor: pointer;
}

/* ::ng-deep .fc-daygrid-day-frame {
  cursor: pointer;
} */

::ng-deep .fc-daygrid-day-top {
  cursor: pointer;
}
::ng-deep .fc .fc-toolbar.fc-header-toolbar.fc-toolbar-ltr {
  margin-bottom: 5px;
}

::ng-deep .fc-toolbar.fc-header-toolbar {
  padding: 0px;
}
