/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/flatpickr/dist/flatpickr.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";

.tb__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-control__radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: calc(2.25rem + 2px);
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding-left: 1rem;
}
