.info__section {
  box-sizing: border-box;
  position: relative;
  padding-left: 42px;
  padding-right: 42px;
}

.info__container {
  display: flex;
}

.img__container {
  position: relative;
  text-align: center;
  margin-right: 30px;
}

.img__wrapper {
  height: 112px;
  width: 112px;
  border-radius: 50%;
  border: 1px solid rgb(225, 225, 228);
  cursor: pointer;
  display: block;
  margin: auto auto;
  overflow: hidden;
  position: relative;
}

.img__wrapper img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.info__wrapper {
  flex: 1;
}

.info__wrapper h1 {
  color: rgb(0, 35, 75);
  font: 20px / 24px sharp-sans-bold, Arial, sans-serif;
}

.info__wrapper h2 {
  color: rgb(0, 35, 75);
  font: 14px / 20px sharp-sans-bold, Arial, sans-serif;
}

@media screen and (min-width: 768px) {
  .info__wrapper h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .info__wrapper h2 {
    font-size: 18px;
    line-height: 28px;
  }
}

.selling-points__section {
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 42px;
  margin-right: 42px;
  position: relative;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-top: 2px solid rgb(243, 243, 244);
}

.selling-points__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 104px;
}

.selling-points__item {
  width: 45%;
  display: flex;
  flex-direction: row;
}

.selling-points__item img {
  margin-top: 8px;
  margin-bottom: 12px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: top;
}

.selling-points__text {
  margin-left: 4px;
  display: inline-block;
}

.selling-points__text div:first-child {
  margin-top: 8px;
  color: rgb(0, 35, 75);
  font: 14px / 16px sharp-sans-semibold, Arial, sans-serif;
}

.selling-points__text div:last-child {
  margin-top: 2px;
  margin-bottom: 10px;
  color: rgb(0, 35, 75);
  font: 12px / 16px sharp-sans-medium, Arial, sans-serif;
}

.reviews__section {
  box-sizing: border-box;
  padding: auto 15px 20px;
  position: relative;
}

.reviews__section h3 {
  font: 18px / 44px sharp-sans-bold, Arial, sans-serif;
  margin-bottom: 6px;
}

.reviews__section .score {
  display: flex;
}

.score__overall {
  flex-basis: 190px;
}

.score__overall h4 {
  margin: 0px 0px 8px;
}

.score__items {
  display: flex;
  flex-direction: column;
}
