<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="tb__header">
                        <h3 class="card-title">รายการสถานบริการ</h3>

                        <!-- <a routerLink="/hospitals/add" class="btn btn-primary">เพิ่มสถานบริการ</a> -->
                    </div>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <!-- // TODO: Should create separate to its own component -->
                    <div class="row my-2">
                        <div class="col-md-12">
                            <div style="display: flex; flex-direction: row;">
                                <select [(ngModel)]="filterInputs.condition" class="form-control mr-1">
                                    <option value="1">รหัสสถานบริการ</option>
                                    <option value="2">ชื่อสถานบริการ</option>
                                </select>

                                <input type="text" class="form-control mr-2" [(ngModel)]="filterInputs.keyword">

                                <button
                                    type="button"
                                    class="btn btn-primary"
                                    (click)="onFilter()"
                                >
                                    <i class="fas fa-search"></i>
                                </button>
                                <button
                                    type="button"
                                    class="btn btn-danger ml-2"
                                    (click)="onClearFilter()"
                                >
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>                  
                                <tr>
                                    <th style="width: 3%;" class="text-center">#</th>
                                    <th style="width: 10%" class="text-center">รหัสสถานบริการ</th>
                                    <th class="text-center">ชื่อสถานบริการ</th>
                                    <th style="width: 10%" class="text-center">สังกัด</th>
                                    <th style="width: 15%" class="text-center">อำเภอ</th>
                                    <th style="width: 10%" class="text-center">จังหวัด</th>
                                    <th style="width: 10%" class="text-center">โทรศัพท์</th>
                                    <th style="width: 10%" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hospital of filteredHospitals | slice: (page - 1) * pageSize : page * pageSize; let i = index">
                                    <td class="text-center">{{ ((page - 1) * pageSize) + (i+1) }}</td>
                                    <td class="text-center">{{ hospital.hospcode }}</td>
                                    <td>{{ hospital.name }}</td>
                                    <td class="text-center">{{ getHospitalType(hospital.hospital_type_id) }}</td>
                                    <td class="text-center">{{ hospital.amphur.amphur }}</td>
                                    <td class="text-center">{{ hospital.changwat.changwat }}</td>
                                    <td class="text-center">{{ hospital.hospital_phone }}</td>
                                    <td class="text-center">
                                        <!-- <a routerLink="/hospitals/{{ hospital.hospcode }}/detail" class="btn btn-info btn-xs mr-1">
                                            <i class="fas fa-search"></i>
                                        </a> -->
                                        <a routerLink="/hospitals/{{ hospital.hospcode }}/edit" class="btn btn-warning btn-xs mr-1">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <!-- <a href="#" (click)="onDelete($event, hospital.hospcode)" class="btn btn-danger btn-xs">
                                            <i class="fas fa-trash-alt" style="margin: auto 2px;"></i>
                                        </a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ngb-pagination
                        *ngIf="filteredHospitals"
                        [collectionSize]="filteredHospitals.length"
                        [(page)]="page"
                        [pageSize]="pageSize"
                        [maxSize]="2"
                        [boundaryLinks]="true"
                        >
                        <ng-template ngbPaginationFirst><i class="fas fa-angle-double-left"></i></ng-template>
                        <ng-template ngbPaginationPrevious><i class="fas fa-arrow-circle-left"></i></ng-template>
                        <ng-template ngbPaginationNext><i class="fas fa-arrow-circle-right"></i></ng-template>
                        <ng-template ngbPaginationLast><i class="fas fa-angle-double-right"></i></ng-template>
                    </ngb-pagination>
                </div>
            </div><!-- /.card -->

        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container -->
