<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
          <div class="tb__header">
            <h3 class="card-title">รายละเอียดการนัดหมาย</h3>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">

          <!-- // TODO: Content here... -->
          <div class="row">
            <div class="col-md-12">

              <div class="card card-secondary">
                <div class="card-header py-2">
                  <h5 class="card-title" style="margin-bottom: 5px;">
                    <i class="fas fa-user"></i>
                    ข้อมูลผู้ป่วย
                  </h5>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-2 text-center info__detail-img pt-4">
                      <img
                        *ngIf="appointment && appointment.patient.sex == 1"
                        class="profile-user-img img-fluid img-circle"
                        src="assets/img/avatar-m1-128x128.jpg"
                        alt="patient image"
                      />
                      <img
                        *ngIf="appointment && appointment.patient.sex == 2"
                        class="profile-user-img img-fluid img-circle"
                        src="assets/img/avatar-w1-128x128.jpg"
                        alt="patient image"
                      />
                    </div><!-- /.col -->

                    <div class="col-sm-12 col-md-9 info__detail-text-wrapper">
                      <div class="row" style="min-height: 150px;">
                        <div class="col-xs-12 col-sm-3 col-md-2 d-none d-sm-block">HN</div>
                        <div class="col-xs-12 col-sm-9 col-md-4 d-none d-sm-block">
                          {{ appointment && appointment.patient.hn }}
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">CID</div>
                        <div class="col-xs-12 col-sm-9 col-md-4 info__detail-text-value">
                          {{ appointment && appointment.patient.cid }}
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-2">ชื่อ-สกุล</div>
                        <div class="col-xs-12 col-sm-9 col-md-4 info__detail-text-value">
                          {{ appointment && appointment.patient.pname + appointment.patient.fname + ' ' + appointment.patient.lname }}
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2 d-none d-sm-block">เพศ</div>
                        <div class="col-xs-12 col-sm-9 col-md-4 d-none d-sm-block">
                          {{ appointment && appointment.patient.sex == 1 ? 'ชาย' : 'หญิง' }}
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-2 d-none d-sm-block">วันเกิด</div>
                        <div class="col-xs-12 col-sm-9 col-md-4 d-none d-sm-block">
                          {{ appointment && (appointment.patient.birthdate! | thdate) }} <!-- // TODO: format to thdate -->
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">อายุ</div>
                        <div class="col-xs-12 col-sm-9 col-md-4 info__detail-text-value">
                          {{ appointment && calcAge(appointment.patient.birthdate) }} ปี
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-2">โทรศัพท์</div>
                        <div class="col-xs-12 col-sm-9 col-md-4 info__detail-text-value">
                          {{ appointment && appointment.patient.tel1 }}
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2">สิทธิการรักษา</div>
                        <div class="col-xs-12 col-sm-9 col-md-4 info__detail-text-value">
                          {{ appointment && appointment.right.right_name }}
                        </div>
                      </div><!-- /.row -->
                    </div><!-- /.col -->

                    <div class="col-md-1">
                      <a
                        href="#"
                        routerLink="/patients/{{ appointment && appointment.patient?.id }}/edit"
                        class="btn btn-warning btn-sm float-right"
                        title="แก้ไขข้อมูลผู้ป่วย">
                        <i class="fas fa-edit"></i>
                      </a>
                    </div><!-- /.col -->

                  </div><!-- /.row -->

                  <div class="card-comments" *ngIf="false">
                    <h4>Note</h4>
                    <hr style="margin: 2px auto 5px;" />

                    <div class="card-comment" ng-repeat="(index, note) in payment.notes">
                      <!-- User image -->
                      <img class="img-circle img-sm" src="assets/img/user1-128x128.jpg" alt="User Image" />

                      <div class="comment-text">
                        <!-- <span class="username">
                          {{ note.note_staff }} ({{ note.staff_name }})
                          <span class="text-muted float-right">{{ note.note_datetime }}</span>
                        </span>
                        {{ note.plain_text }} -->
                      </div><!-- /.comment-text -->
                    </div><!-- /.card-comment -->
                  </div>

                </div><!-- /.card-body -->
              </div><!-- /.card -->
              <!-- Profile Image -->

              <div class="card my-3">
                <div class="card-header p-2">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" href="#stat" data-toggle="tab">
                        <i class="fas fa-address-card mr-1"></i>
                        ข้อมูลการนัดหมาย
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#history" data-toggle="tab">
                        <i class="fas fa-align-left mr-1"></i>
                        ประวัติการนัดหมาย
                      </a>
                    </li>
                  </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">
                    <div class="active tab-pane" id="stat" role="tabpanel">

                      <div class="table-responsive-sm" #htmlData id="htmlData">
                        <table class="table table-bordered" style="margin-top: 10px;">
                          <thead>
                            <tr>
                              <th style="width: 15%; text-align: center;">วันที่ / เวลา</th>
                              <th style="width: 20%; text-align: center;">คลินิก / ห้องตรวจ</th>
                              <th style="width: 12%; text-align: center;">หน่วยบริการ</th>
                              <!-- <th style="width: 10%; text-align: center;">เลขที่ Refer</th> -->
                              <th style="width: 20%; text-align: center;">เหตุผลการ Refer</th>
                              <th style="text-align: center;" class="d-none d-sm-none d-md-table-cell">
                                หมายเหตุ
                              </th>
                              <th style="width: 10%; text-align: center;">สถานะ</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td style="text-align: center;">
                                {{ appointment && (appointment.appoint_date! | thdate) }}<br />
                                {{ appointment && appointment.appoint_time === '1' ? '08.00 - 12.00 น.' : '13.00 - 16.00 น.' }}
                              </td>
                              <td style="text-align: center;">{{ appointment && appointment.clinic?.clinic_name }}</td>
                              <td style="text-align: center;">{{ appointment && appointment.hospcode }}</td>
                              <!-- <td style="text-align: center;">
                                {{ appointment && appointment.refer_no }}
                              </td> -->
                              <td class="d-none d-sm-none d-md-table-cell">
                                {{ appointment && appointment.refer_cause?.name }}
                              </td>
                              <td class="d-none d-sm-none d-md-table-cell">
                                {{ appointment && appointment.diag_text }}
                              </td>
                              <td class="d-none d-sm-none d-md-table-cell">
                                <div style="display: flex; flex-direction: row;" *ngIf="appointment?.status == 0">
                                  <span class="badge badge-primary mr-1"><i class="fas fa-clock"></i></span>
                                  <span class="text-sm">รอดำเนินการ</span>
                                </div>
                                <div style="display: flex; flex-direction: row;" *ngIf="appointment?.status == 1">
                                  <span class="badge badge-secondary mr-1"><i class="far fa-calendar-plus"></i></span>
                                  <span class="text-sm">ตอบรับแล้ว</span>
                                </div>
                                <div style="display: flex; flex-direction: row;" *ngIf="appointment?.status == 2">
                                  <span class="badge badge-success mr-1"><i class="fas fa-stethoscope"></i></span>
                                  <span class="text-sm">ตรวจแล้ว</span>
                                </div>
                                <div style="display: flex; flex-direction: row;" *ngIf="appointment?.status == 3">
                                  <span class="badge badge-danger mr-1"><i class="fas fa-ban"></i></span>
                                  <span class="text-sm">ยกเลิกนัด</span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="row">
                        <div class="col-md-12 text-center">
                          <a
                            href="{{ apiUrl }}/downloads/{{ appointment?.id }}.pdf"
                            class="btn btn-primary mr-2"
                            target="_blank"
                          >
                            <i class="fas fa-print" style="margin: auto 2px;"></i>
                            พิมพ์ใบนัด
                          </a>
                          <a
                            *ngIf="(isAdmin || isOfficer) && (appointment?.status != 2 && appointment?.status != 3)"
                            href="#"
                            (click)="onComplete($event, appointment?.id)"
                            class="btn btn-success mr-2"
                          >
                            <i class="fas fa-stethoscope"></i>
                            ตรวจแล้ว
                          </a>
                          <a
                            *ngIf="(isAdmin || isPcu) && (appointment?.status != 2 && appointment?.status != 3)"
                            href="#"
                            routerLink="/appointments/{{ appointment?.appoint_type }}/{{ appointment?.id }}/postpone"
                            class="btn bg-navy mr-2"
                          >
                            <i class="fas fa-file-export"></i>
                            เลื่อนนัด
                          </a>
                          <a
                            *ngIf="canModify(appointment)"
                            routerLink="/appointments/{{ appointment?.appoint_type }}/{{ appointment?.id }}/edit"
                            class="btn btn-warning mr-2"
                          >
                            <i class="fas fa-pencil-alt"></i>
                            แก้ไข
                          </a>
                          <a
                            *ngIf="canModify(appointment)"
                            href="#"
                            class="btn btn-danger"
                            (click)="onCancel($event, appointment?.id)"
                          >
                            <i class="fas fa-ban"></i>
                            ยกเลิก
                          </a>
                        </div>
                      </div>

                    </div><!-- /.tab-pane -->

                    <div class="tab-pane" id="history">

                      <div class="table-responsive">
                        <table class="table table-bordered" style="margin-top: 20px;">
                          <thead>
                            <tr>
                              <th style="width: 3%; text-align: center;">ลำดับ</th>
                              <th style="width: 10%; text-align: center;">วันที่ / เวลา</th>
                              <th style="width: 20%; text-align: center;">คลินิก / ห้องตรวจ</th>
                              <th style="width: 15%; text-align: center;">หน่วยบริการผู้นัด</th>
                              <!-- <th style="width: 10%; text-align: center;">เลขที่ Refer</th> -->
                              <th style="width: 20%; text-align: center;">เหตุผลการ Refer</th>
                              <th style="text-align: center;" class="d-none d-sm-none d-md-table-cell">
                                หมายเหตุ
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- <tr ng-if="payment.paid" ng-repeat="(index, row) in payment.paid">
                              <td style="text-align: center;">{{ index + 1 }}</td>
                              <td style="text-align: center;">{{ row.paid_date | thdate }}</td>
                              <td style="text-align: center;">{{ row.bill_no }}</td>
                              <td style="text-align: center;">{{ row.remark }}</td>
                            </tr> -->
                          </tbody>
                        </table>
                      </div>

                    </div><!-- /.tab-pane -->      
                    
                  </div><!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div><!-- /.nav-tabs-custom -->

            </div><!-- /.col -->
          </div><!-- Main row -->

        </div><!-- /.card-body -->
        <div class="card-footer clearfix text-center">

        </div>
      </div><!-- /.card -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
