<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="tb__header">
            <h3 class="card-title">นัดหมาย - รพ.สต.</h3>
  
            <a routerLink="/appointments/1/add" class="btn btn-primary">เพิ่มนัด</a>
          </div>
        </div><!-- /.card-header -->
        <div class="card-body">

          <!-- // Filter tools -->
          <!-- // TODO: Should create separate to its own component -->
          <div class="row my-2">
            <div class="col-md-12">
              <div style="display: flex; flex-direction: row;">
                <input type="text" class="form-control mr-2" [(ngModel)]="filterInputs.keyword">

                <select [(ngModel)]="filterInputs.condition" class="form-control mr-2">
                  <!-- <option value="1">เลขที่ Refer</option> -->
                  <option value="2">เลขที่บัตรประชาชน</option>
                  <option value="3">ชื่อผู้ป่วย</option>
                  <!-- <option value="4">ชื่อแพทย์</option>
                  <option value="5">กลุ่มอาการ</option>
                  <option value="6">Diagnose</option>
                  <option value="7">โรงพยาบาล</option> -->
                </select>

                <div class="input-group mr-2">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="filterInputs.appointDate"
                    ngbDatepicker
                    #d="ngbDatepicker"
                    placeholder="ว/ด/ป"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      (click)="d.toggle()"
                    >
                      <i class="far fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>

                <button
                  type="button"
                  class="btn btn-primary mr-1"
                  (click)="onFilter()"
                >
                  <i class="fas fa-search"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onClearFilter()"
                >
                  Clear
                </button>
              </div>
            </div>
          </div>

          <!-- // appointments component -->
          <app-appointments
            [data]="filteredAppointments"
            [appointType]="1"
            (handleDelete)="onDelete($event)"
            [page]="page"
            [pageSize]="pageSize"
          ></app-appointments>

          <!-- // คำอธิบายสถานะของการนัด -->
          <div style="display: flex; flex-direction: row; margin: 0px auto;">
            <div style="display: flex; flex-direction: row;">
              <span class="badge badge-primary mr-1">
                <i class="fas fa-clock"></i>
              </span>
              <span class="text-xs mr-2">รอดำเนินการ</span>
            </div>
            <span class="badge badge-secondary mr-1">
              <i class="far fa-calendar-plus"></i>
            </span>
            <span class="text-xs mr-2">ตอบรับแล้ว</span>
            <span class="badge badge-success mr-1">
              <i class="fas fa-stethoscope"></i>
            </span>
            <span class="text-xs mr-2">ตรวจแล้ว</span>
            <span class="badge badge-danger mr-1">
              <i class="fas fa-ban"></i>
            </span>
            <span class="text-xs mr-2">ยกเลิกนัด</span>
          </div>

        </div><!-- /.card-body -->

        <div class="card-footer clearfix">

          <!-- // Pagination component -->
          <ngb-pagination
            [collectionSize]="filteredAppointments.length"
            [(page)]="page"
            [pageSize]="pageSize"
            [maxSize]="5"
            [boundaryLinks]="true"
          >
            <ng-template ngbPaginationFirst><i class="fas fa-angle-double-left"></i></ng-template>
            <ng-template ngbPaginationPrevious><i class="fas fa-arrow-circle-left"></i></ng-template>
            <ng-template ngbPaginationNext><i class="fas fa-arrow-circle-right"></i></ng-template>
            <ng-template ngbPaginationLast><i class="fas fa-angle-double-right"></i></ng-template>
          </ngb-pagination>

        </div><!-- /.card-footer -->

      </div><!-- /.card -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
