<li class="nav-item dropdown user-menu">
  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
    <img
      src="assets/img/user2-160x160.jpg"
      class="user-image img-circle elevation-2"
      alt="User Image"
      *ngIf="user?.username != 'pui' && !isPcu"
    />
    <img
      src="assets/img/pcu.jpg"
      class="user-image img-circle elevation-2"
      alt="User Image"
      *ngIf="isPcu"
    />
    <img
      src="assets/img/pui.jpg"
      class="user-image img-circle elevation-2"
      alt="User Image"
      *ngIf="user?.username == 'pui'"
    />
    <span class="d-none d-md-inline">{{ user?.username }}</span>
  </a>
  <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      <!-- User image -->
      <li class="user-header bg-primary">
        <img
          src="assets/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
          *ngIf="user?.username != 'pui' && !isPcu"
        />
        <img
          src="assets/img/pcu.jpg"
          class="img-circle elevation-2"
          alt="User Image"
          *ngIf="isPcu"
        />
        <img
          src="assets/img/pui.jpg"
          class="img-circle elevation-2"
          alt="User Image"
          *ngIf="user?.username == 'pui'"
        />

        <p>
          {{ user?.fullname }}<br />
          {{ user?.position }}
          <!-- <small>Member since Nov. 2012</small> -->
        </p>
      </li>

      <!-- Menu Body -->
      <!-- <li class="user-body">
        <div class="row">
          <div class="col-4 text-center">
            <a href="#">Followers</a>
          </div>
          <div class="col-4 text-center">
            <a href="#">Sales</a>
          </div>
          <div class="col-4 text-center">
            <a href="#">Friends</a>
          </div>
        </div>
      </li> -->

      <!-- Menu Footer -->
      <li class="user-footer">
        <a routerLink="/user-profile" class="btn btn-default btn-flat">
          ข้อมูลผู้ใช้
        </a>
        <button class="btn btn-default btn-flat float-right" (click)="onLogout()">
          ลงชื่อออก
        </button>
      </li>
  </ul>
</li>
