.navbar-nav > .user-menu > .nav-link::after {
  content: none;
}
.navbar-nav > .user-menu > .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
  width: 280px;
}
.navbar-nav > .user-menu > .dropdown-menu,
.user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}
li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
li.user-header > p {
  z-index: 5;
  font-size: 17px;
  margin-top: 10px;
}
li.user-header > p > small {
  display: block;
  font-size: 12px;
}
.user-body {
  border-bottom: 1px solid #495057;
  border-top: 1px solid #dee2e6;
  padding: 15px;
}
.user-body::after {
  display: block;
  clear: both;
  content: "";
}
@media (min-width: 576px) {
  .user-body a {
    background-color: #fff !important;
    color: #495057 !important;
  }
}
.user-footer {
  background-color: #f8f9fa;
  padding: 10px;
}
.user-footer::after {
  display: block;
  clear: both;
  content: "";
}
.user-footer .btn-default {
  color: #6c757d;
}
@media (min-width: 576px) {
  .user-footer .btn-default:hover {
    background-color: #f8f9fa;
  }
}
.user-image {
  border-radius: 50%;
  float: left;
  height: 2.1rem;
  margin-right: 10px;
  margin-top: -2px;
  width: 2.1rem;
}
@media (min-width: 576px) {
  .user-image {
    float: none;
    line-height: 10px;
    margin-right: 0.4rem;
    margin-top: -8px;
  }
}
.dark-mode .dropdown-menu {
  background-color: #343a40;
  color: #fff;
}
.dark-mode .dropdown-item {
  color: #fff;
}
.dark-mode .dropdown-item:focus,
.dark-mode .dropdown-item:hover {
  background-color: #3f474e;
}
.dark-mode .dropdown-divider {
  border-color: #6c757d;
}
.dark-mode .navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #3a4047;
  color: #fff;
}
.dark-mode
  .navbar-nav
  > .user-menu
  > .dropdown-menu
  > .user-footer
  .btn-default {
  color: #fff;
}
.dark-mode
  .navbar-nav
  > .user-menu
  > .dropdown-menu
  > .user-footer
  .btn-default:focus,
.dark-mode
  .navbar-nav
  > .user-menu
  > .dropdown-menu
  > .user-footer
  .btn-default:hover {
  background-color: #3f474e;
  color: #dee2e6;
}
.dark-mode
  .navbar-nav
  > .user-menu
  > .dropdown-menu
  > .user-footer
  .btn-default:focus {
  background-color: #454d55;
}
.dark-mode .navbar-nav > .user-menu > .dropdown-menu > .user-body {
  border-color: #6c757d;
}
.dark-mode .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
  background-color: transparent !important;
  color: #fff !important;
}
.dark-mode .navbar-nav > .user-menu > .dropdown-menu > .user-body a:focus,
.dark-mode .navbar-nav > .user-menu > .dropdown-menu > .user-body a:hover {
  color: #ced4da !important;
}
.nav-pills .nav-link {
  color: #6c757d;
}
