<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/" class="brand-link">
    <img
      src="assets/img/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      [ngStyle]="{ 'opacity': '.8' }"
    />
    <span class="brand-text font-weight-light">Appointment Online</span>
  </a>

  <!-- Sidebar -->
  <section class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image" *ngIf="currentUser && currentUser.username != 'pui' && !isPcu" />
        <img src="assets/img/pui.jpg" class="img-circle" alt="User Image" *ngIf="currentUser && currentUser.username == 'pui'" />
        <img src="assets/img/pcu.jpg" class="img-circle" alt="User Image" *ngIf="isPcu" />
      </div>
      <div class="info">
        <a routerLink="/user-profile">
          {{ currentUser ? currentUser.fullname : '' }}
        </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
          <a routerLink="/dashboard" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-bed"></i>
            <p>ทะเบียนนัดหมาย</p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <!-- <li class="nav-item" *ngIf="!isPcu">
              <a routerLink="/appointments" class="nav-link" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>ทั่วไป</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="!isPcu">
              <a routerLink="/appointments-express" class="nav-link" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>ด่วนพิเศษ</p>
              </a>
            </li> -->
            <li class="nav-item" *ngIf="isAdmin || isPcu">
              <a routerLink="/appointments" class="nav-link" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>รพ.สต.</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a routerLink="/appointments/calendar" class="nav-link" routerLinkActive="active">
            <i class="nav-icon fas fa-calendar-alt"></i>
            <p>ปฏิทินนัดหมาย</p>
          </a>
        </li>
        <li class="nav-item has-treeview" *ngIf="!isPcu">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user-md"></i>
            <p>แพทย์</p>
            <i class="right fas fa-angle-left"></i>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/doctors" class="nav-link" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>รายชื่อแพทย์</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="!isPcu">
              <a routerLink="/doctors-schedules" class="nav-link" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>ตารางออกตรวจ</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="!isPcu">
              <a routerLink="/doctors-schedule/list" class="nav-link" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>รายการตารางออกตรวจ</p>
              </a>
            </li>
            <!-- <li class="nav-item" *ngIf="!isPcu">
              <a routerLink="/doctors-appointments" class="nav-link" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>ตารางนัดหมาย</p>
              </a>
            </li> -->
          </ul>
        </li>
        <li class="nav-item has-treeview" *ngIf="isAdmin">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-cogs"></i>
            <p>
              จัดการข้อมูล
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/users" class="nav-link" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>ผู้ใช้งาน</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/hospitals" class="nav-link" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>สถานบริการ</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>
</aside>